#gift-coupon {
  .gc-wrapper {
    margin: 32px 0;
  }

  .gc-header {
    margin: 24px 0;

    h1 {
      font-size: 24px;
      margin: 0;
    }
  }

  .gc-body {}

  .gc-form-container {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
  }

  .gc-footer {
    text-align: center;

    .btn-primary {
      background: $color-third;
      border-color: $color-third;
      border-radius: 4px;
      padding: 9px 18px;
    }

    .btn-success {
      border-radius: 4px;
      padding: 9px 18px;
    }
  }

  .services {
    padding: 10px 6px 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;

    @media only screen and (max-width: 780px) {
      flex-wrap: wrap;
    }

    .services-list {
      flex: 0 0 auto;
      min-width: 300px;
      padding: 0 20px 0 0;
      width: 300px;

      @media only screen and (max-width: 780px) {
        padding: 20px;
        width: 100%;
      }
    }

    .service-list-item {
      &:last-child {
        border-bottom: none;
      }

      .service-list-data {
        display: flex;
        justify-content: space-between;
      }

      .service-list-children {}

      .service-list-left {
        display: flex;
      }

      .service-list-right {
        display: flex;
      }

      .service-list-control {}

      .service-list-name {
        padding: 0 8px;

        label {
          font-weight: normal;
        }
      }

      .service-list-price {
        // width: 68px;
        text-align: right;
      }
    }
  }

  .gc-selected {
    margin: 0 auto 32px;
    max-width: 720px;
    width: 100%;

    .gc-details {
      background: $color-primary;
      border-radius: 6px;
      padding: 8px;

      p {
        color: #ffffff;
        margin: 0 0 8px;
      }

      .gc-services-list {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .gc-service-item {
        background: #ffffff;
        margin-bottom: 1px;
        padding: 6px 8px;
      }

      .gc-service-total {
        margin-top: 3px;
        font-weight: bold;
      }

      .gc-service-price {
        float: right;
      }
    }
  }

  .form-control {
    padding: 24px 18px;
  }

  .line {
    margin-bottom: 24px;
  }
}