#user-profile {
  .btn-primary {
    background: $color-third;
    border-color: $color-third-dark;
    border-radius: 4px;
    box-shadow: 1px 2px 5px 2px #cdcfce;
    padding: 12px;
  }

  .user-hero {
    .container {
      background: #fafafa;
      border-radius: 4px 4px 0 0;
      box-shadow: -1px 6px 11px 4px #cdcfce;
      padding: 48px 48px 0;
      margin-top: 32px;

      .user-avatar {
        text-align: center;

        img {
          border: 8px solid #ffffff;
          border-radius: 50%;
          box-shadow: 0 0 0 2px $color-primary;
          display: inline-block;
          height: auto;
          max-height: 128px;
          margin: 0 auto;
          max-width: 128px;
          width: 100%;
        }
      }

      .user-data {
        text-align: center;

        .user-name {
          color: #cdcfce;
          font-size: 35px;
          font-weight: 400;

          .btn {
            background: transparent;
            color: $color-primary;
            font-size: 35px;
            padding: 0;
          }
        }

        .user-metadata {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            font-size: 16px;
            margin-bottom: 10px;

            .fa {
              display: none;
            }
          }
        }
      }
    }
  }

  .user-profile-content-header {
    margin-top: 32px;
  }

  .user-profile-content-title {
    border-bottom: 1px solid $color-primary;
    color: #cdcfce;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  .user-profile {
    .container {
      background: #fafafa;
      margin-bottom: 32px;
      border-radius: 0 0 4px 4px;
      box-shadow: -1px 11px 11px 4px #cdcfce;
      padding: 0 48px 48px;
    }
  }

  .user-profile-nav {
    display: none;
  }

  .user-profile-wrapper {
    margin: 0 auto;
    max-width: 510px;
    width: 100%;
  }

  .user-update-password {
    margin: 32px 0;
  }

  .user-update-password-body {
    display: none;
  }

  .form-edit {
    display: none;
    overflow: hidden;
  }

  form {
    .buttons {
      overflow: hidden;
    }

    .btn-primary {
      float: left;
      width: 49%;

      &:first-child {
        margin-right: 1%;
      }

      &:last-child {
        margin-left: 1%;
      }
    }
  }

  .btn-link {
    color: $color-third;
  }

  .user-profile-payment-methods {
    margin: 32px 0;

    .credit-card-list {
      .user-credit-card {
        width: 100%;

        .user-credit-card-wrapper {
          background: #ffffff;
          box-shadow: 0 0 4px 1px #cdcfce;
          margin-bottom: 16px;
          padding: 8px 16px;
        }

        .icon {
          display: inline-block;
          text-align: left;
          width: 10%;
        }

        .credit-card {
          display: inline-block;
          text-align: left;
          width: 77%;
        }

        .form-delete {
          display: inline-block;
          text-align: right;
          width: 10%;
        }

        .btn-destroy {
          color: #ed6e58;
          padding: 6px 0;
        }
      }
    }

    #form-credit-card {
      display: none;
    }
  }


  #btn-show-location-form {
    margin: 32px 0;
  }

  .form-add-location {
    display: none;
    margin: 32px 0;

    .col-xs-6, .col-xs-3 {
      padding: 0;
    }

    .form-control {
      border-radius: 0;
      padding: 10px 12px;
    }
  }
}