#user-profile {
  .user-hero {
    background: $color-primary-dark;
    overflow: hidden;
    padding: 48px 0;

    .container {
      background: transparent;
    }

    .user-avatar {
      float: left;
      text-align: right;
      width: 20%;

      @media only screen and (max-width: 502px) {
        text-align: center;
        margin-bottom: 22px;
        width: 100%;
      }

      img {
        border-radius: 50%;
        display: inline-block;
        height: auto;
        max-height: 110px;
        margin: 0 auto;
        max-width: 110px;
        width: 100%;
      }
    }

    .user-data {
      color: #ffffff;
      float: left;
      padding-left: 16px;
      width: 80%;

      @media only screen and (max-width: 502px) {
        width: 100%;
        text-align: center;
      }

      .user-name {
        color: inherit;
        font-weight: 300;
        margin-top: 0;
      }

      .user-metadata {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 8px;
        }

        .fa {
          text-align: left;
          width: 22px;
        }
      }
    }
  }

  .user-profile {
    background: #f2f2f2;

    .container {
      background: transparent;
      display: flex;

      .line {
        background: #f0f0f0;
        height: 1px;
        width: 100%;
      }

      .user-profile-nav {
        background: #ffffff;
        border-radius: 4px;
        margin-right: 2%;
        padding: 16px;
        width: 23%;

        a {
          &:hover {
            color: $color-primary-dark;
          }
        }
      }

      .user-profile-content {
        background: #ffffff;
        width: 75%;

        .user-profile-content-header {
          border-bottom: 1px solid #f0f0f0;
          padding: 16px;
        }

        .user-profile-content-title {
          margin: 0;
          font-weight: 300;
          text-align: center;
        }

        .user-profile-content-message {
          .alert {
            border-radius: 0;
            margin: 0;
            padding: 8px 15px;

            .close {
              right: 0;
              top: 0;
            }
          }
        }

        .user-profile-content-body {
          padding: 16px;

          .form-control {
            border-radius: 0;
          }
        }
      }
    }
  }
}