#search {
  background: #dfdfdf;

  .edc-nav.content {
    background: transparent;
  }

  .container {
    background: transparent;
    height: 100%;
    padding: 0;
  }

  .footer {
    display: none;
  }

  #reservation-app {
    height: 100%;
    min-height: 480px;
  }

  .no_results_found {
    font-size: 18px;
    padding: 10px;
    text-align: center;

    .fa {
      font-size: 80px;
      margin: 24px 0;
    }
  }

  .search-stylists {
    background: #dfdfdf;
    height: 100%;
    position: relative;
  }

  .stylists {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px 47px;
    width: 100%;

    @media only screen and (max-width: 780px) {
      justify-content: center;
      padding: 112px 0 47px;
    }
  }

  .services {
    display: flex;
    padding-bottom: 47px;
    overflow: auto;

    @media only screen and (max-width: 780px) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 66px 0 47px;
    }

    .services-list {
      min-width: 360px;
      padding: 0 10px 0 0;

      @media only screen and (max-width: 780px) {
        padding: 0 10px 10px;
      }
    }
  }

  .stylist-card {
    margin-bottom: 10px;
  }

  .vdp-datepicker {
    background: #ffffff;
    padding-top: 44px;
  }

  .zip-code .mfp-content {
    max-width: 300px;
  }
}
