#faqs,
#terms,
#policies,
#about-us {
  .panel {
    background: #fafafa;
    border: 1px solid #f7f7f7;
    box-shadow: 0 0 1px 1px #e7e7e7;
    margin: 48px 0;
    padding: 32px 15px;

    @media only screen and (max-width: 499px) {
      padding: 22px 5px;
    }

    h1, h2 {
      font-weight: 400;

      @media only screen and (max-width: 499px) {
        font-size: 28px;
      }
    }

    h3, h4 {
      font-weight: 300;
    }

    h5, h6 {
      font-weight: 200;
    }

    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 0;
      }
    }

    .btn-rounded {
      border-radius: 21px;
      margin: 32px 0;
      padding: 9px 24px;
    }

    .table {
      margin: 32px;
    }

    .table.table-bordered {
      border: none;
    }
    .table.table-bordered tbody tr td {
      border: none;
    }

    .table-steps {
      img {
        height: 72px;
        width: auto !important;
      }
    }
  }
}