#stylist-profile {
  .container {
    padding: 32px 0;
  }

  .stylist-header {
    margin-bottom: 32px;
    overflow: hidden;

    .stylist-header-avatar {
      float: left;
      padding-right: 18px;

      img {
        border: 3px solid $color-second;
        border-radius: 50%;
        display: block;
        height: 80px;
        width: 80px;
      }
    }

    .stylist-header-data {
      float: left;
    }

    .stylist-header-name {
      margin-bottom: 9px;

      h2 {
        color: #4a4a4a;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
      }
    }

    .stylist-header-rate {
      .fa {
        color: $color-yellow;
        font-size: 19px;
      }
    }
  }

  .stylist-photo-book {
    margin-bottom: 32px;

    .stylist-photo-book-carousel {}

    .stylist-photo-book-item {
      background: $color-primary center no-repeat;
      background-size: cover;
      height: 200px;
      width: 25%;
    }

    .slick-prev {
      left: 4px;
      z-index: 200;

      &:before {
        font-size: 50px;
      }
    }

    .slick-next {
      right: 32px;

      &:before {
        font-size: 50px;
      }
    }
  }

  .stylist-photo-content {
    .nav-tabs {
      border-bottom: none;
    }

    .nav-tabs > li > a,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus {
      background-color: #ffffff;
      border: 0;
      border-bottom: 6px solid transparent;
      color: #000000;
      padding: 10px 28px;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
      border-bottom-color: $color-second;
      font-weight: 700;
    }

    .tab-pane {
      padding: 18px 0;
    }

    .curriculum {
      margin-bottom: 24px;
    }

    .tag {
      border: 1px solid #cdcecf;
      border-radius: 17px;
      padding: 8px 18px;
    }
  }
}