#stylist-calendar {
  .container {
    padding: 16px;
  }

  .fc-header-toolbar {
    .fc-center {
      padding: 16px 0;
    }
  }

  .fc-content {
    padding: 4px;
  }

  .disabled {
    background: #efefef;
  }
}