#stylist-register {
  .container {
    margin: 48px auto;
  }

  .title {
    font-size: 24px;
    margin-bottom: 32px;
    text-align: center;
  }

  .form-control {
    padding: 24px 24px;
  }

  .subtitle {
    font-weight: 400;
    margin-top: 32px;
  }

  .weekdays {
    .list-group-item {
      border: none;
    }
  }

  .zones-list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px -16px;

    .zones {
      padding: 0 8px;
      width: 25%;

      .active {
        background: $color-third;
        color: #ffffff;
      }

      .list-group {
        height: 258px;
        overflow: scroll;
      }

      .panel {}

      .panel-heading {
        min-height: 55px;
        text-align: center;
      }

      .panel-title {
        font-weight: 400;
      }

      .panel-footer {
        text-align: center;

        input {
          display: none;
        }
      }
    }
  }
}