<template>
    <div class="container">
        <div class="checkout">
            <!-- BTN BACK -->
            <div class="checkout-tools">
                <button class="btn btn-warning" :disabled="disabled" v-on:click="closeCheckout">
                    <i class="fa fa-arrow-left"></i> Volver
                </button>
            </div>

            <div class="alert alert-danger" role="alert" v-show="errors.hasError && !errors.credit_card">
                <ul>
                    <li v-for="error in errors.description">{{ error[0] }}</li>
                </ul>
            </div>

            <div class="checkout-wrapper">
                <!-- DATE -->
                <div class="checkout-section">
                    <div class="checkout-header">
                        <div class="checkout-title">
                            Fecha de la reservación
                        </div>
                    </div>

                    <div class="checkout-body" v-tooltip.top-center="dateTimeMsg">
                        <input type="text" class="form-control" v-model="datetime" disabled>
                    </div>
                </div>

                <!-- PHONE -->
                <div class="checkout-section">
                    <div class="checkout-header">
                        <div class="checkout-title">
                            Teléfono
                        </div>
                    </div>

                    <div :class="{'checkout-body': true, 'has-error': $v.phone.$error}">
                        <input type="text"
                            class="form-control"
                            v-model.trim="phone"
                            @input="$v.phone.$touch()"
                            @blur="updatePhone">
                        <span class="help-block" v-if="$v.phone.$error && !$v.phone.required">El teléfono es obligatorio</span>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="checkout-section" v-show="hideEmail">
                    <div class="checkout-header">
                        <div class="checkout-title">
                            Correo electrónico
                        </div>
                    </div>

                    <div :class="{'checkout-body': true, 'has-error': $v.email.$error}">
                        <input type="text"
                            class="form-control"
                            v-model.trim="email"
                            @input="$v.email.$touch()"
                            @blur="updateEmail">
                        <span class="help-block" v-if="$v.email.$error && !$v.email.required">El correo electrónico es obligatorio</span>
                        <span class="help-block" v-if="$v.email.$error && !$v.email.email">No es un correo electrónico valido</span>
                    </div>
                </div>

                <!-- LOCATION -->
                <div class="checkout-sectino">
                    <location :from="from" :locations="customer.addresses" :selected="reservation.location" v-on:update="locationUpdated" />
                </div>

                <div class="alert alert-danger" role="alert" v-show="errors.hasError && errors.credit_card">
                    {{ errors.description }}
                </div>

                <!-- CREDIT CARD -->
                <div class="checkout-credit-card">
                    <credit-card :cards="customer.credit_cards" v-on:update="creditCardUpdated" />
                </div>

                <div class="checkout-coupon">
                    <div class="checkout-header">
                        <div class="checkout-title">
                            Cupón de descuento
                        </div>
                    </div>

                    <div :class="{'checkout-body': true}">
                        <input type="text"
                            class="form-control"
                            v-model.trim="coupon"
                            @blur="updateCoupon">
                        <span class="help-block" v-if="$v.phone.$error && !$v.phone.required">El cupón es invalido</span>
                    </div>
                </div>

                <!-- SHOPPING CART -->
                <div class="checkout-section">
                    <div class="checkout-header">
                        <div class="checkout-title">
                            Resumen de tu compra
                        </div>
                    </div>

                    <div class="checkout-body">
                        <p v-if="invalid" class="invalid">El monto por estilista debe ser mayor a $300.00 pesos</p>

                        <ul class="checkbox-list">
                            <template v-if="from === 'stylists'">
                                <li class="checkbox-list-item" v-for="stylist in services">
                                    <strong>{{ stylist.name }}</strong>
                                    <ul class="checkbox-list-sublist">
                                        <li class="checkbox-list-item children" v-for="(service, index) in stylist.selected">
                                            <div class="quantity">{{ service.quantity }}</div>
                                            <div class="service">{{ service.service.full_name }}</div>
                                            <div :class="{price: true, invalid: stylist.total <= 300}">{{ service.service.price }}</div>
                                        </li>
                                    </ul>
                                </li>
                            </template>
                            <template v-if="from === 'services'">
                                <template v-for="category in services">
                                    <li class="checkbox-list-item" v-for="(service, index) in category.selected">
                                        <div class="quantity">{{ service.quantity }}</div>
                                        <div class="service">{{ service.service.full_name }}</div>
                                        <div class="price">{{ service.service.price }}</div>
                                    </li>
                                </template>
                            </template>

                            <li class="checkbox-list-item total">
                                <strong class="service">Total</strong>

                                <span class="price">$ {{ total }}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- BTN PAY -->
                <div class="checkout-section"
                    v-show="validation.location && validation.credit_card && validation.phone && validation.email && !invalid">
                    <button class="btn btn-block btn-success" :disabled="disabled" v-on:click="pay">
                        Pagar
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CreditCard from "./CreditCard";
import Location from "./Location";
import { required, email } from "vuelidate/lib/validators";

export default {
    components: {
        CreditCard,
        Location
    },
    props: {
        customer: {
            type: Object,
            required: true
        },
        disabled: {
            type: Boolean,
            default: false
        },
        errors: {
            type: Object,
            default: {
                hasError: false,
                description: "",
                error_code: 0
            }
        },
        from: {
            type: String,
            default: "stylists"
        },
        reservation: {
            type: Object,
            required: true
        },
        services: {
            type: Array,
            required: true
        }
    },
    data: function() {
        return {
            credit_card: {},
            coupon: "",
            datetime: "",
            dateTimeMsg:
                "Para cambiar la fecha y hora regresa al paso anterior",
            email: "",
            invalid: false,
            location: "",
            phone: "",
            validation: {
                phone: false,
                email: false,
                location: false,
                credit_card: false
            }
        };
    },
    computed: {
        hideEmail: function() {
            return (
                typeof this.customer.email === "undefined" ||
                this.customer.email === null ||
                this.customer.email.length === 0
            );
        },
        total: function() {
            let total = 0;

            this.services.forEach(cat => {
                cat.selected.forEach(item => {
                    var subtotal =
                        parseInt(item.quantity) *
                        parseFloat(item.service.value);
                    total += subtotal;
                });
            });

            return total.toFixed(2);
        }
    },
    watch: {
        "customer.email": function() {
            this.email = this.customer.email;
        },
        "customer.phone": function() {
            this.phone = this.customer.phone;
        },
        email: function() {
            this.validation.email = !this.$v.email.$invalid;
        },
        phone: function() {
            this.validation.phone = !this.$v.phone.$invalid;
        },
        "reservation.date": function() {
            this.datetime = this.capitalize(
                `${this.reservation.dateHuman},  a las ${
                    this.reservation.time
                } hrs.`
            );
        },
        "reservation.time": function() {
            this.datetime = this.capitalize(
                `${this.reservation.dateHuman},  a las ${
                    this.reservation.time
                } hrs.`
            );
        },
        services() {
            this.validateTotal();
        }
    },
    validations: {
        phone: { required },
        email: { required, email }
    },
    methods: {
        capitalize: function(value) {
            if (!value) return "";

            value = value.toString();
            return value.charAt(0).toUpperCase() + value.slice(1);
        },
        closeCheckout: function() {
            this.$emit("close");
        },
        creditCardUpdated: function(data) {
            this.credit_card = data.card;
            this.validation.credit_card = data.validate;
        },
        validateTotal() {
            this.invalid = false;

            for (let i = 0; i < this.services.length; i++) {
                if (this.services[i].total <= 300) {
                    this.invalid = true;
                }
            }
        },
        locationUpdated: function(data) {
            this.location = data.location;
            this.validation.location = data.validate;
        },
        pay: function() {
            this.$emit("pay", {
                email: this.email,
                phone: this.phone,
                credit_card: this.credit_card,
                location: this.location,
                reservation: this.reservation,
                services: this.services,
                coupon: this.coupon
            });
        },
        updateEmail: function() {
            this.$emit("updateEmail", this.email);
        },
        updatePhone: function() {
            this.$emit("updatePhone", this.phone);
        },
        updateCoupon: function() {
            this.$emit("updateCoupon", this.coupon);
        }
    }
};
</script>
