<template>
    <div :class="{'card-counter': true, 'disabled': !enable}">
        <div class="col">
            <div class="stylist-card-counter">
                <button class="btn btn-less" :class="enable ? '' : 'disabled'" v-on:click="remove">-</button>

                <span class="stylist-card-quantity">{{ quantity }}</span>

                <button class="btn btn-less" :class="enable ? '' : 'disabled'" v-on:click="add">+</button>
            </div>

            <div class="stylist-card-service-name">
                <span v-show="!service.enable" v-tooltip.top-center="closedMessage" class="calendar-closed">
                    <i class="fa fa-calendar-times-o"></i>
                </span>

                {{ service.name }}
            </div>
        </div>

        <div class="col">
            <div class="stylist-card-service-price">{{ service.price}}</div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        enable: {
            type: Boolean,
            default: true
        },
        selected: {
            type: Object,
            default: {}
        },
        service: {
            type: Object,
            required: true
        },
        stylist: {
            type: Object,
            required: true
        }
    },
    data: function() {
        let quantity =
            typeof this.selected.quantity !== "undefined"
                ? this.selected.quantity
                : 0;

        return {
            closedMessage: "(Agotado)",
            quantity
        };
    },
    watch: {
        selected: function() {
            this.quantity =
                typeof this.selected.quantity !== "undefined"
                    ? this.selected.quantity
                    : 0;
        }
    },
    methods: {
        add: function() {
            if (this.enable) {
                this.quantity += 1;
            }

            this.emitEvent();
        },
        remove: function() {
            if (this.enable) {
                this.quantity = this.quantity > 0 ? this.quantity - 1 : 0;
            }

            this.emitEvent();
        },
        emitEvent: function() {
            this.$emit("update", {
                quantity: this.quantity,
                service_id: this.service.id,
                stylist_id: this.stylist.id,
                service: this.service,
                stylist: this.stylist
            });
        }
    }
};
</script>
