<template>
    <div class="credit-card-select">
        <div class="credit-card-select-input" @click="toggleList">
            <div class="credit-card-select-input-label">
                {{ selected[label] ? selected[label] : placeholder }}
            </div>
        </div>
        <div class="credit-card-select-list" v-show="showList">
            <div class="credit-card-option" v-for="item in itemsLocal">
                <div class="credit-card-label" @click="select(item)">
                    {{ item[label] }}
                </div>

                <div class="credit-card-tools">
                    <button typeof="button" class="btn btn-link" @click="deleteItem(item)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        default: {
            type: Object,
            default: function() {
                return {};
            }
        },
        items: {
            type: Array,
            required: true
        },
        label: {
            type: String,
            default: name
        },
        placeholder: {
            type: String,
            default: ""
        }
    },
    data: function() {
        return {
            itemsLocal: [],
            selected: {},
            showList: false
        };
    },
    watch: {
        default: function() {
            this.selected = this.default;
        },
        items: function() {
            this.itemsLocal = this.items;
        }
    },
    methods: {
        deleteItem: function(item) {
            this.itemsLocal = this.$_.without(
                this.itemsLocal,
                this.$_.findWhere(this.itemsLocal, {
                    id: item.id
                })
            );

            this.toggleList();

            this.$emit("delete", item);
        },
        select: function(item) {
            this.selected = item;
            this.toggleList();

            this.$emit("selected", item);
        },
        toggleList: function() {
            this.showList = !this.showList;
        }
    }
};
</script>
