<template>
    <div class="credit-card">
        <div class="credit-card-header">
            <div class="credit-card-tools">
                <button type="button" v-show="showButton" class="btn btn-link" @click="toggleCreditCard">
                    {{ showForm ? messages.useCreditCardStored : messages.newCreditCard }}
                </button>
            </div>

            <div class="credit-card-title">Método de pago</div>
        </div>

        <div class="credit-card-body">
            <div class="credit-card-list" v-show="!showForm">
                <credit-card-select label="card"
                                    placeholder="Selecciona"
                                    :default="card"
                                    :items="this.localCards"
                                    v-on:selected="selected"
                                    v-on:delete="deleteCreditCard"/>
            </div>

            <div class="credit-card-form" v-show="showForm">
                <div class="credit-card-form-wrapper">
                    <div :class="{'form-group': true, 'card-number': true, 'has-error': $v.card.card.$error}">
                        <input type="text"
                                class="form-control"
                                placeholder="Número de tarjeta"
                                v-model.trim="card.card"
                                @input="$v.card.card.$touch()">
                        <span class="help-block" v-if="$v.card.card.$error && !$v.card.card.required">El número de la tarjeta es obligatorio</span>
                    </div>

                    <div :class="{'form-group': true, 'card-name': true, 'has-error': $v.card.name.$error}">
                        <input type="text"
                                class="form-control"
                                placeholder="Nombre en la tarjeta"
                                v-model.trim="card.name"
                                @input="$v.card.name.$touch()">
                        <span class="help-block" v-if="$v.card.name.$error && !$v.card.name.required">El nombre es obligatorio</span>
                        <span class="help-block" v-if="$v.card.name.$error && !$v.card.name.maxLength">El nombre puede tener hasta 255 caracteres</span>
                    </div>

                    <div :class="{'form-group': true, 'card-date': true, 'has-error': $v.card.date.$error}">
                        <input type="text"
                                class="form-control"
                                placeholder="MM/AA"
                                v-model.trim="card.date"
                                @input="$v.card.date.$touch()">
                        <span class="help-block" v-if="$v.card.date.$error && !$v.card.date.required">La fecha es obligatoria</span>
                    </div>

                    <div :class="{'form-group': true, 'card-cvc': true, 'has-error': $v.card.cvc.$error}">
                        <input type="text"
                                class="form-control"
                                placeholder="CVC"
                                v-model.trim="card.cvc"
                                @input="$v.card.cvc.$touch()">
                        <span class="help-block" v-if="$v.card.cvc.$error && !$v.card.cvc.required">El CVC es obligatorio</span>
                    </div>
                </div>

                <div class="payment-gateway" v-show="gateway === 'openpay'">
                    <div class="openpay">
                        Transacciones realizadas vía:
                        <img src="/images/payment-gateway/openpay.png" alt="openpay logo">
                    </div>
                    <div class="shield">
                        <img src="/images/payment-gateway/security.png" alt="shield">
                        Tus pagos se realizan de forma segura con encriptación de 256 bits.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from "axios";
import CreditCardSelect from "./CreditCardSelect";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
    components: {
        CreditCardSelect
    },
    props: {
        cards: {
            type: Array,
            default: () => []
        }
    },
    data: function() {
        let card = this.resetCard();
        return {
            card,
            gateway: "",
            localCards: [],
            showButton: true,
            showForm: false,
            messages: {
                useCreditCardStored: "Mis tarjetas",
                newCreditCard: "Usar otra tarjeta"
            }
        };
    },
    watch: {
        cards: function() {
            this.showButton = this.cards.length > 0;
            this.showForm = this.cards.length === 0;
            this.localCards = this.cards;

            this.setDefaultCard();
        },
        "card.date": function() {
            if (typeof this.card.date !== "undefined") {
                const date = this.card.date.split("");

                if (date.length === 3 && date[2] !== "/") {
                    date.splice(2, 0, "/");
                    this.card.date = date.join("");
                }
            }

            this.updated();
        },
        "card.card": function() {
            this.updated();
        },
        "card.name": function() {
            this.updated();
        },
        "card.cvc": function() {
            this.updated();
        }
    },
    validations: {
        card: {
            card: { required },
            name: {
                required,
                maxLength: maxLength(255)
            },
            date: {
                required
            },
            cvc: { required }
        }
    },
    methods: {
        deleteCreditCard: function(creditCard) {
            this.localCards = this.$_.without(
                this.localCards,
                this.$_.findWhere(this.localCards, {
                    id: creditCard.id
                })
            );

            this.setDefaultCard();

            axios
                .delete(`/api/user/credit-cards/${creditCard.id}`)
                .then(response => {
                    console.warn("delete credit cards request", response);
                })
                .catch(error => {
                    console.error("[CreditCard component] deleteCreditCard");
                });
        },
        resetCard: function() {
            return {
                card: "",
                name: "",
                date: "",
                dateObj: {
                    year: "",
                    month: ""
                },
                cvc: ""
            };
        },
        selected: function(creditCard) {
            this.card = creditCard;

            this.updated();
        },
        setDefaultCard: function() {
            let defaultCard = {};

            this.localCards.forEach(c => {
                if (c.default) {
                    defaultCard = c;
                    return true;
                }
            });

            if (_.isEmpty(defaultCard) && this.localCards.length > 0) {
                defaultCard = this.localCards[0];
            }

            this.card = defaultCard;

            this.updated();
        },
        toggleCreditCard: function() {
            this.showForm = !this.showForm;

            if (this.showForm) {
                this.card = this.resetCard();

                this.updated();
            } else {
                this.setDefaultCard();
            }
        },
        updateDate: function(date = "") {
            let splited = date.split("/");

            if (splited.length === 2) {
                date = {
                    month: splited[0],
                    year: splited[1]
                };
            }

            return date;
        },
        updated: function() {
            let data = {
                validate: !this.$v.card.$invalid,
                card: this.card
            };

            data.card.dateObj = this.updateDate(this.card.date);

            this.$emit("update", data);
        }
    }
};
</script>
