<template>
    <div class="date-picker">
        <div class="date-picker-form-control">
            <input type="text"
                   v-model="dateValue"
                   readonly
                   :class="inputClass"
                   :placeholder="placeholder"
                   @click="open">
            <button class="btn-date-picker" @click="clean">×</button>
        </div>

        <div class="modal-cmp-content-wrapper mfp-hide" ref="modal">
            <div class="modal-cmp-content">
                <datepicker v-model="dateSelected"
                            :disabled="disabled"
                            :full-month-name="true"
                            :inline="true"
                            :language="language"
                            @selected="close"/>
            </div>
        </div>
    </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import moment from "moment";

export default {
    components: {
        Datepicker
    },
    props: {
        disabled: {
            type: Object,
            default: {}
        },
        inputClass: {
            type: String,
            default: ""
        },
        language: {
            type: String,
            default: "en"
        },
        placeholder: {
            type: String,
            default: "C.P."
        },
        value: {
            type: String | Date,
            default: ""
        }
    },
    data: function() {
        return {
            dateSelected: {},
            dateValue: ""
        };
    },
    watch: {
        dateSelected() {
            if (this.dateSelected !== "") {
                this.dateValue = moment(this.dateSelected).format("YYYY-MM-DD");
            }

            this.emitEvent();
        },
        value() {
            this.dateValue = this.value;
        }
    },
    methods: {
        clean() {
            this.dateValue = "";
            this.emitEvent();
        },
        close() {
            if (!$.magnificPopup.instance.isOpen) {
                return;
            }

            $.magnificPopup.close();

            this.$emit("closed");
        },
        emitEvent() {
            this.$emit("input", this.dateValue);
        },
        open() {
            if (!!$.magnificPopup.instance.isOpen) {
                return;
            }

            $.magnificPopup.open({
                items: {
                    src: $(this.$refs.modal),
                    type: "inline"
                },
                callbacks: {
                    open: function() {
                        let c = document.querySelector(".mfp-content");
                        c.style.maxWidth = "300px";
                    }
                }
            });

            this.$emit("opened");
        }
    },
    created() {
        this.dateSelected = this.value;
    }
};
</script>

<style>
.date-picker {
    position: relative;
}

.btn-date-picker {
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
    color: rgba(60, 60, 60, 0.5);
    cursor: pointer;
    border: none;
    background: transparent;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
</style>
