<template>
    <div class="form-reservation" :class="formTop ? 'top' : ''">
        <div class="form-reservation-container">
            <div class="reservation-data">
                <template v-if="guest">
                    <a href="#login-modal" class="btn btn-block btn-go-to-login popup-modal">Inicia sesión</a>
                </template>
                <template v-else>
                    <div class="col" v-show="showFilters">
                        <zip-code v-model="reservation.location" input-class="form-control" placeholder="C.P." :locations="locations" />
                    </div>

                    <div class="col">
                        <datepicker v-model="reservation.date"
                            input-class="form-control"
                            placeholder="Fecha"
                            :disabled="datePickerDisabled"
                            :language="language" />
                    </div>

                    <div class="col">
                        <time-picker v-model="reservation.time"
                            input-class="form-control"
                            placeholder="Hora"
                            :from="timePicker.from"
                            :to="timePicker.to"
                            v-on:selected="hourSelected" />
                    </div>
                </template>
            </div>

            <div class="filter" v-show="showFilters">
                <div class="filter-principal">
                    <div class="col grow-6">
                        <v-select v-model="filters.service" :options="services" placeholder="Servicio"/>
                    </div>

                    <div class="col grow-1">
                        <div class="col grow-1">
                            <button class="btn btn-block btn-success" @click="toggleSearchStylist">
                                <i class="fa fa-user"></i>

                                <i class="fa fa-angle-down" v-if="!showSearchStylist"></i>
                                <i class="fa fa-angle-up" v-else></i>
                            </button>
                        </div>

                        <div class="col grow-1">
                            <button class="btn btn-block btn-success" @click="toggleShowFilterOrder">
                                <i class="fa fa-filter"></i>

                                <i class="fa fa-angle-down" v-if="!showFilterOrder"></i>
                                <i class="fa fa-angle-up" v-else></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="filter-second">
                    <div class="filter-searcher" v-show="showSearchStylist">
                        <input type="text" v-model="filters.search" class="form-control" placeholder="Estilista">
                        <button class="btn btn-link" @click="cleanSearch">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="filter-options" v-show="showFilterOrder">
                        <div class="col">
                            <div class="filter-title">
                                Ordenar por precio
                            </div>
                            <ul class="filter-list">
                                <li class="filter-list-item">
                                    <input type="radio" id="by-price-asc" v-model="filters.price" value="desc">
                                    <label for="by-price-asc">De mayor a menor</label>
                                </li>
                                <li class="filter-list-item">
                                    <input type="radio" id="by-price-desc" v-model="filters.price" value="asc">
                                    <label for="by-price-desc">De menor a mayor</label>
                                </li>
                            </ul>
                        </div>

                        <div class="col">
                            <div class="filter-title">
                                Ordenar por calificación
                            </div>
                            <ul class="filter-list">
                                <li class="filter-list-item">
                                    <input type="radio" id="by-rating-asc" v-model="filters.rating" value="desc">
                                    <label for="by-rating-asc">De mayor a menor</label>
                                </li>
                                <li class="filter-list-item">
                                    <input type="radio" id="by-rating-desc" v-model="filters.rating" value="asc">
                                    <label for="by-rating-desc">De menor a mayor</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import Datepicker from "./Datepicker";
import moment from "moment";
import TimePicker from "./TimePicker";
import vSelect from "vue-select";
import ZipCode from "./ZipCode";

export default {
    components: {
        Datepicker,
        TimePicker,
        vSelect,
        ZipCode
    },
    props: {
        locations: {
            type: Array,
            default: () => []
        },
        showFilters: {
            type: Boolean,
            default: true
        }
    },
    data: function() {
        const currentHour = moment().get("hour");
        const currentMinutes = moment().get('minutes')
        let from = 13;

        if (currentHour > 10 && currentHour < 20) {
            from = currentHour + 3;
        }

        if (currentMinutes > 0 && currentMinutes < 30) {
            from += 0.5;
        } else {
            from += 1;
        }

        const today = new Date();
        const yesterday = new Date(today);

        if (currentHour > 20) {
            yesterday.setDate(today.getDate() + 1);
        } else {
            yesterday.setDate(today.getDate() - 1);
        }

        return {
            datePickerDisabled: {
                to: yesterday
            },
            filters: {
                search: "",
                price: "desc",
                rating: "desc",
                service: ""
            },
            reservation: {
                date: "",
                location: {},
                time: ""
            },
            services: [],
            showSearchStylist: false,
            showFilterOrder: false,
            timePicker: {
                from,
                to: 21
            },
            formTop: false
        };
    },
    computed: {
        guest: function() {
            return !this.authCheck();
        },
        language: function() {
            let language = "en";
            const htmlTag = $("html");

            if (htmlTag.length > 0) {
                language = htmlTag[0].lang;
            }

            return language;
        }
    },
    watch: {
        "reservation.location.zip_code": function() {
            let zip_code = this.reservation.location.zip_code;

            if (typeof zip_code !== "undefined" && zip_code.length === 5) {
                this.send();
            }
        },
        "reservation.date": function() {
            let date = this.reservation.date;

            this.updateHours();

            if (typeof date !== "undefined") {
                this.send();
            }
        },
        "reservation.time": function() {
            let time = this.reservation.time;

            if (typeof time !== "undefined") {
                this.send();
            }
        },
        "filters.service": function() {
            this.send();
        },
        "filters.search": function() {
            this.send();
        },
        "filters.price": function() {
            this.send();
        },
        "filters.rating": function() {
            this.send();
        }
    },
    methods: {
        authCheck: function() {
            const meta = $('[name="login-status"]');

            if (meta.length) {
                const loginStatus = meta[0].content;

                if (loginStatus === "1") {
                    return true;
                }
            }

            return false;
        },
        cleanSearch: function() {
            this.filters.search = "";
        },
        hourSelected(hour) {
            if (!this.reservation.date) {
                this.reservation.date = moment().format("YYYY-MM-DD");
            }
        },
        send: function() {
            this.$emit("changed", {
                reservation: this.reservation,
                filters: this.filters
            });
        },
        toggleSearchStylist: function() {
            this.showSearchStylist = !this.showSearchStylist;
        },
        toggleShowFilterOrder: function() {
            this.showFilterOrder = !this.showFilterOrder;
        },
        updateHours: function() {
            let date = moment(this.reservation.date);
            console.warn('updateHours', date);

            if (date.isAfter(moment())) {
                this.timePicker = {
                    from: 7,
                    to: 21
                };
            } else {
                let hour = moment().get("hour");
                let hourFrom = hour < 10 ? 13 : hour + 3;

                let minutes = moment().get('minutes');
                hourFrom = (minutes > 0 && minutes < 30) ? hourFrom + 0.5 : hourFrom + 1;

                this.timePicker = {
                    from: hourFrom,
                    to: 21
                };

                const today = new Date();
                const yesterday = new Date(today);

                if (hour > 21) {
                    yesterday.setDate(today.getDate() + 1);
                } else {
                    yesterday.setDate(today.getDate() - 1);
                }

                this.datePickerDisabled = {
                    to: yesterday
                };
            }
        }
    },
    created() {
        const that = this;
        window.addEventListener("scroll", function(e) {
            var top = window.scrollY;

            if (top > 55 && that.formTop === false) {
                that.formTop = true;
            } else if (top <= 55 && that.formTop === true) {
                that.formTop = false;
            }
        });

        axios
            .get("/api/service-categories")
            .then(response => {
                this.load = response.ok;

                const services = response.data;

                services.forEach(o => {
                    this.services.push({
                        label: o.name,
                        value: o.id
                    });
                });
            })
            .catch(error => {
                console.error("[FormReservation] create()");
            });
    }
};
</script>

<style>
.v-select .dropdown-toggle {
    background: #ffffff;
    border-radius: 2px;
}

.dropdown-menu li {
    border-bottom: 1px solid #cdcfce;
}

.v-select li > a {
    color: #29b882;
    padding: 5px;
    text-align: center;
}

.v-select .dropdown-menu .active > a {
    color: #ffffff;
    background: #29b882;
}

.v-select .dropdown-menu > .highlight > a {
    background: #29b882;
    color: #fff;
}

.v-select .dropdown-toggle .clear {
    right: 34px;
}
</style>
