<template>
    <div class="guide" v-show="show" v-on:click="close">
        <div class="guide-wrapper">
            <div class="guide-background guide-top" :style="{height: top}"></div>
            <div class="guide-section" :style="{top: top, height: height, borderWidth: borderWidth}">
                <div class="guide-text">{{ text }}</div>
            </div>
            <div class="guide-background guide-bottom" :style="{top: downTop, height: '100%' }"></div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        selector: {
            type: String,
            default: ""
        },
        text: {
            type: String,
            default: ""
        },
        open: {
            type: Boolean,
            default: false
        }
    },
    data: function() {
        return {
            borderWidth: "0px",
            downTop: "0px",
            height: "0px",
            padding: 6,
            show: false,
            top: "0px"
        };
    },
    watch: {
        open: function() {
            this.showGuide();
        }
    },
    methods: {
        close: function() {
            this.show = false;

            this.$emit("closed");
        },
        addHtmlTagStyles: function() {
            let htmlTag = document.querySelector("html");

            if (this.show) {
                htmlTag.style.overflow = "hidden";
            } else {
                htmlTag.style.overflow = "";
            }
        },
        setPosition: function() {
            if (!this.show) {
                return;
            }

            let element = document.querySelector(this.selector);
            let position = element.getBoundingClientRect();

            this.top = position.top - this.padding + "px";
            this.height = position.height + this.padding * 2 + "px";
            this.borderWidth = position.left - this.padding + "px";
            this.downTop = position.top + position.height + this.padding + "px";
        },
        showGuide: function() {
            this.show = this.open;

            this.addHtmlTagStyles();
            this.setPosition();
        }
    }
};
</script>

<style>
.guide {
    bottom: 0;
    left: 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.guide-background {
    background: rgba(0, 0, 0, 0.78);
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.guide-section {
    border-left: 5px solid rgba(0, 0, 0, 0.78);
    border-right: 5px solid rgba(0, 0, 0, 0.78);
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.guide-text {
    color: #ffffff;
    font-size: 21px;
    padding: 10px;
    position: absolute;
    top: 100%;
    z-index: 1;
}
</style>
