<template>
    <div id="page-loader" v-show="show">
        <div class="loader"></div>
    </div>
</template>

<script>
export default {
    props: {
        show: {
            type: Boolean,
            default: false
        }
    }
};
</script>
