<template>
    <div class="location">
        <div class="location-tools">
            <button type="button" class="btn btn-link" v-show="showBtn" @click="toggleAddress">
                {{ showForm ? messages.useAddressStored : messages.newAddress }}
            </button>
        </div>

        <div class="location-header">
            <div class="location-title">Dirección</div>
        </div>

        <div class="location-body">
            <div class="location-list" v-show="showLocations && !showForm && !showDisabled">
                <v-select v-model="location" :options="locations" label="line" placeholder="Dirección" />
            </div>

            <div class="location-form" v-show="showDisabled && locationInList" v-tooltip.top-center="messages.locationDisabled">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Dirección" v-model="location.line" disabled>
                </div>
            </div>

            <div class="location-form" v-show="showForm">
                <p v-show="zipCodeDisabled">{{ messages.formMessage }}</p>

                <div :class="{'form-group': true, 'address': true, 'has-error': $v.location.line.$error || errors.has}">
                    <vue-google-autocomplete
                        id="map"
                        classname="form-control"
                        placeholder="Dirección"
                        v-on:placechanged="getAddressData"
                        v-on:inputChange="setAddress"
                        country="mx"/>
                    <span class="help-block" v-if="errors.has">{{ errors.message }}</span>
                    <div v-show="$v.location.line.$error">
                        <span class="help-block" v-if="!$v.location.line.required">La dirección es obligatoria</span>
                        <span class="help-block" v-if="!$v.location.line.maxLength">La dirección puede tener hasta 255 carácteres</span>
                    </div>
                </div>

                <div :class="{'form-group': true, 'no-int': true, 'has-error': $v.location.int_number.$error}">
                    <input type="text"
                            class="form-control"
                            placeholder="No. Int."
                            v-model.trim="location.int_number"
                            @input="$v.location.int_number.$touch()">
                    <span class="help-block" v-if="$v.location.int_number.$error && !$v.location.int_number.maxLength">El No. Int. debe tener como maximo 255 caracteres</span>
                </div>

                <div :class="{'form-group': true, 'zip-code': true, 'has-error': $v.location.zip_code.$error}" v-tooltip.top-center="messages.zipCodeDisabled">
                    <input type="text"
                        class="form-control"
                        placeholder="C.P."
                        v-model.trim="location.zip_code"
                        :disabled="zipCodeDisabled"
                        @input="$v.location.zip_code.$touch()">
                    <div v-show="$v.location.zip_code.$error">
                        <span class="help-block" v-if="!$v.location.zip_code.minLength || !$v.location.zip_code.maxLength">El código postal debe tener 5 caracteres</span>
                    </div>
                </div>
            </div>

            <div class="location-form">
                <div :class="{'form-group': true, 'comments': true, 'has-error': $v.location.comments.$error}">
                    <textarea class="form-control"
                        placeholder="Escribe aquí cualquier referencia para llegar a tu domicilio (opcional)"
                        v-model.trim="location.comments" rows="4" @input="$v.location.comments.$touch()"></textarea>
                    <span class="help-block" v-if="$v.location.comments.$error && !$v.location.comments.maxLength">Este campo puede tener hasta 2048 caracteres</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import vSelect from "vue-select";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import VueGoogleAutocomplete from "vue-google-autocomplete";

const SERVICES = "services";
const STYLISTS = "stylists";

export default {
    components: {
        vSelect,
        VueGoogleAutocomplete
    },
    props: {
        from: {
            type: String,
            default: STYLISTS
        },
        selected: {
            type: Object,
            default: () => {
                return {};
            }
        },
        locations: {
            type: Array,
            default: () => []
        }
    },
    data: function() {
        let location = this.resetLocation();

        return {
            errors: {
                has: false,
                message:
                    "La dirección seleccionada no coincide con el código postal previamente seleccionado."
            },
            location,
            locationInList: false,
            messages: {
                formMessage:
                    "Verifica que la dirección coincida con el código postal que ingresaste ya que en base a eso se mostraron las estilistas disponibles",
                newAddress: "Usar otra dirección",
                useAddressStored: "Mis direcciones",
                locationDisabled:
                    "Para cambiar la dirección regresa al paso anterior",
                zipCodeDisabled: ""
            },
            showForm: true,
            showLocations: false,
            zipCodeDisabled: false
        };
    },
    computed: {
        showBtn: function() {
            return this.from === SERVICES && this.locations.length > 0;
        },
        showDisabled: function() {
            return this.from === STYLISTS;
        }
    },
    watch: {
        from: function() {
            this.setLocation();
            this.setShowLocations();
            this.setZipCodeDisabled();
            this.setShowForm();
        },
        location: {
            handler: function() {
                this.$emit("update", {
                    validate: !this.$v.location.$invalid && !this.errors.has,
                    location: this.location
                });
            },
            deep: true
        },
        locations: function() {
            this.setLocation();
            this.setShowLocations();
            this.setShowForm();
        },
        selected: {
            handler: function() {
                this.setLocation();
                this.setZipCodeDisabled();
                this.setShowForm();
                this.locationInList = typeof this.selected.id !== "undefined";
            },
            deep: true
        }
    },
    validations: {
        location: {
            line: {
                required,
                maxLength: maxLength(255)
            },
            int_number: {
                maxLength: maxLength(10)
            },
            zip_code: {
                required,
                minLength: minLength(5),
                maxLength: maxLength(5)
            },
            comments: {
                maxLength: maxLength(2048)
            }
        }
    },
    methods: {
        getDefaultLocation: function() {
            let defaultLocation = {};

            this.locations.forEach(l => {
                if (l.default) {
                    defaultLocation = l;
                    return true;
                }
            });

            if (_.isEmpty(defaultLocation) && this.locations.length > 0) {
                defaultLocation = this.locations[0];
            }

            return Object.assign({}, this.location, defaultLocation);
        },
        setAddress: function(data) {
            this.location.line = data.newVal;
            this.$v.location.line.$touch();
        },
        getAddressData: function(data) {
            if (this.from === STYLISTS) {
                if (this.location.zip_code !== data.postal_code) {
                    this.errors.has = true;
                } else {
                    this.errors.has = false;
                }
            } else {
                this.location.zip_code = data.postal_code;
                this.$v.location.zip_code.$touch();
            }
        },
        resetLocation: function() {
            return {
                comments: "",
                default: false,
                id: null,
                int_number: "",
                line: "",
                zip_code: ""
            };
        },
        setLocation: function() {
            this.location = this.resetLocation();

            if (this.from === SERVICES) {
                this.location = this.getDefaultLocation();
            } else if (this.from === STYLISTS) {
                this.location = Object.assign({}, this.location, this.selected);
            }
        },
        setShowForm: function() {
            if (this.from === SERVICES) {
                this.showForm =
                    typeof this.selected.id === "undefined" &&
                    this.locations.length === 0;
            } else {
                this.showForm = typeof this.selected.id === "undefined";
            }
        },
        setShowLocations: function() {
            this.showLocations =
                this.from === SERVICES && this.locations.length > 0;
        },
        setZipCodeDisabled: function() {
            this.zipCodeDisabled =
                this.from === STYLISTS &&
                !_.isEmpty(this.selected) &&
                this.selected.zip_code !== "";

            this.messages.zipCodeDisabled = this.zipCodeDisabled
                ? "No puedes modificar el código postal ya que en base a eso se eligierón a tus estilistas."
                : "";
        },
        toggleAddress: function() {
            this.showForm = !this.showForm;

            if (!this.showForm) {
                this.setLocation();
            } else {
                this.location = this.resetLocation();
            }
        }
    }
};
</script>

<style>
.selected-tag {
    position: absolute;
    width: 84%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
