<template>
    <div class="modal-cmp-content-wrapper mfp-hide" ref="modal">
        <div class="modal-cmp-content">
            <div class="panel panel-default">
                <div class="panel-heading" v-show="title.length > 0">
                    <h3 class="panel-title">
                        {{ title }}
                    </h3>
                </div>
                <div class="panel-body" v-show="body.length > 0">
                    {{ body }}
                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-primary" @click="closePopup">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default: ""
        },
        body: {
            type: String,
            default: ""
        },
        close: {
            type: Boolean,
            default: true
        },
        open: {
            type: Boolean,
            default: false
        }
    },
    data: function() {
        return {};
    },
    watch: {
        close: function() {
            if (this.close) {
                this.closePopup();
            }
        },
        open: function() {
            if (this.open) {
                this.openPopup();
            }
        }
    },
    methods: {
        closePopup: function() {
            if (!$.magnificPopup.instance.isOpen) {
                return;
            }

            $.magnificPopup.close();

            this.$emit("closed");
        },
        openPopup: function() {
            if ($.magnificPopup.instance.isOpen) {
                return;
            }

            $.magnificPopup.open({
                showCloseBtn: false,
                items: {
                    src: $(this.$refs.modal),
                    type: "inline"
                },
                callbacks: {
                    open: function() {
                        let c = document.querySelector(".mfp-content");
                        c.style.maxWidth = "300px";
                    }
                }
            });

            this.$emit("opened");
        }
    },
    mounted: function() {
        if (this.open) {
            this.openPopup();
        }
    }
};
</script>
