<template>
    <div class="search-stylists">
        <guide :text="guideText" :open="showGuide" selector=".reservation-data" v-on:closed="guideClosed"/>
        <popup :title="popup.title" :body="popup.body" :open="popup.open" v-on:closed="popupClosed"/>

        <shopping-cart :services-selected="servicesSelected"
                       :buttons="buttons"
                       :format="(showStylistsList) ? 'stylists' : 'services'"
                       v-show="!showCheckoutForm"
                       v-on:send="showCheckout"
                       v-on:delete="removeServiceToShoppingCart"
                       v-on:toolClicked="showServices"/>

        <form-reservation :locations="user.addresses" :show-filters="showStylistsList" v-show="!showCheckoutForm" v-on:changed="filter" />

        <loader :show="showLoader" />

        <div class="container" v-show="!showCheckoutForm">
            <div class="stylists" v-show="showStylistsList">
                <stylist-card v-for="stylist in stylists"
                              :key="stylist.id"
                              :stylist="stylist"
                              :enable="auth && cardsEnable"
                              :services-default="getSelected(stylist)"
                              v-on:update="addToShoppingCart"/>

                <div class="no_results_found" v-show="empty">
                    <i class="fa fa-search"></i>
                    <p>
                        No hay estilistas disponibles en los criterios de búsqueda que seleccionaste, por favor ingresa
                        otro día u horario y vuelve a intentar.
                    </p>
                </div>
            </div>

            <div class="services" v-show="showServicesList">
                <services-list v-for="category in services"
                               :key="category.id"
                               :service-category="category"
                               :enable="auth && cardsEnable"
                               :services-default="getSelected(category)"
                               v-on:update="addToShoppingCart"/>
            </div>
        </div>

        <checkout :reservation="reservation"
                  :services="servicesSelected"
                  :customer="user"
                  :disabled="checkoutDisabled"
                  :errors="errors"
                  :from="(showStylistsList) ? 'stylists' : 'services'"
                  v-show="showCheckoutForm"
                  v-on:close="closeCheckout"
                  v-on:pay="sendData" />
    </div>
</template>

<script>
import axios from "axios";
import Checkout from "./Checkout";
import FormReservation from "./FormReservation";
import Guide from "./Guide";
import helpers from "./../helpers";
import Loader from "./Loader";
import moment from "moment";
import Popup from "./Popup";
import ServicesList from "./ServicesList";
import ShoppingCart from "./ShoppingCart";
import StylistCard from "./StylistCard";
import Errors from "./../errors";

/*
    data.servicesSelected = [
        {
            id: foo,
            name: 'bar',
            selected: [
                {
                    quantity: 3,
                    stylist_id: 11,
                    service_id: 37,
                    service: {},
                    stylist: {},
                },
                {...}
            ]
        },
        {...}
    ];
    */

export default {
    components: {
        Checkout,
        FormReservation,
        Guide,
        Loader,
        Popup,
        ServicesList,
        ShoppingCart,
        StylistCard
    },
    data: () => {
        return {
            buttons: [
                { value: 0, selected: true, text: "Elegir por estilista" },
                { value: 1, selected: false, text: "Elegir por servicio" }
            ],
            cardsEnable: false,
            checkoutDisabled: false,
            empty: false,
            errors: {
                credit_card: false,
                hasError: false,
                description: "",
                error_code: 0
            },
            filters: {},
            gateway: {
                id: "",
                session: ""
            },
            guideText: "",
            load: false,
            locationBackup: {},
            popup: {
                open: false,
                title: "",
                body: ""
            },
            requestData: {},
            reservation: {
                date: "",
                dateHuman: "",
                location: {},
                time: "",
                credit_card: {}
            },
            servicesSelected: [],
            showGuide: false,
            showCheckoutForm: false,
            showLoader: true,
            showServicesList: false,
            showStylistsList: true,
            services: [],
            stylists: [],
            user: {
                name: "",
                email: "",
                phone: "",
                avatar: null,
                credit_cards: [],
                addresses: []
            }
        };
    },
    computed: {
        auth: function() {
            return this.authCheck();
        }
    },
    methods: {
        addToShoppingCart: function(services) {
            if (!this.cardsEnable) {
                this.showGuideMethod();
                return false;
            }

            let stylist = this.servicesSelected.find((o, i) => {
                if (o.id === services.id) {
                    if (services.selected.length > 0) {
                        this.$set(this.servicesSelected, i, services);
                    } else {
                        this.servicesSelected.splice(i, 1);
                    }

                    return true;
                }
            });

            if (typeof stylist === "undefined") {
                this.servicesSelected.push(services);
            }
        },
        authCheck: function() {
            const meta = $('[name="login-status"]');

            if (meta.length) {
                const loginStatus = meta[0].content;

                if (loginStatus === "1") {
                    return true;
                }
            }

            return false;
        },
        closeCheckout: function() {
            this.showCheckoutForm = false;
        },
        filter: function(data) {
            (this.cardsEnable = this.validateReservationData()),
                (this.reservation = data.reservation);

            moment.locale($("html")[0].lang);
            const dateHuman = moment(data.reservation.date);
            this.reservation.dateHuman = dateHuman.format("LLLL");

            const filters = {
                price: data.filters.price,
                rating: data.filters.rating,
                search: data.filters.search,
                service_id: data.filters.service.value || "",
                zip_code: data.reservation.location.zip_code || "",
                time: data.reservation.time,
                date: data.reservation.date
            };

            if (this.showStylistsList) {
                this.getStylists(filters);
            }

            if (this.showServicesList) {
                this.getServices(filters);
            }

            console.warn("[TODO] remove items of shopping card");
            this.servicesSelected = [];
        },
        getSelected: function(model) {
            var ss = [];

            let data = this.servicesSelected.find(o => o.id === model.id);

            if (typeof data !== "undefined") {
                ss = data.selected;
            }

            return ss;
        },
        getServices: function(filters = {}) {
            this.loader();

            axios
                .get("/api/services/list", { params: filters })
                .then(response => {
                    this.load = response.ok;
                    this.showServicesList = true;
                    this.showStylistsList = false;

                    this.services = response.data.data;
                    this.servicesSelected = [];

                    window.scrollTo(0, 0);

                    this.showLoader = false;
                })
                .catch(error => {
                    this.showLoader = false;
                    console.error("error in [Search component] getServices");
                });
        },
        getStylists: function(filters = {}) {
            this.loader();

            axios
                .get("/api/stylist/search", { params: filters })
                .then(response => {
                    this.load = response.ok;
                    this.showServicesList = false;
                    this.showStylistsList = true;

                    this.stylists = response.data.data;

                    this.empty = this.stylists.length === 0;

                    window.scrollTo(0, 0);

                    this.showLoader = false;
                })
                .catch(error => {
                    this.showLoader = false;
                    console.error("[Search component] getStylists");
                });
        },
        getUserData: function() {
            axios
                .post("/customer/profile/")
                .then(response => {
                    this.user = response.data.data;
                })
                .catch(error => {
                    this.showLoader = false;
                    console.error(
                        "errors in [Search component] getUserData",
                        error
                    );
                });
        },
        guideClosed: function() {
            this.showGuide = false;
        },
        loader: function() {
            this.services = [];
            this.stylists = [];

            this.showLoader = true;
        },
        popupClosed: function() {
            this.popup.open = false;
            this.popup.title = "";
            this.popup.body = "";
        },
        removeServiceToShoppingCart: function(model_id, index) {
            this.servicesSelected.find((o, i) => {
                if (o.id === model_id) {
                    this.servicesSelected[i].selected.splice(index, 1);

                    if (this.servicesSelected[i].selected.length === 0) {
                        this.servicesSelected.splice(i, 1);
                    }

                    return true;
                }
            });
        },
        saveReservation: function() {
            this.requestData.fromStylists = this.showStylistsList;

            axios
                .post("/reservation", this.requestData)
                .then(response => {
                    window.location.href = "/thanks";
                })
                .catch(error => {
                    window.scrollTo(0, 0);
                    this.checkoutDisabled = false;
                    this.showLoader = false;

                    if (typeof error.response.data.errors !== "undefined") {
                        this.errors.credit_card = false;
                        this.errors.hasError = true;
                        this.errors.description = error.response.data.errors;
                    } else {
                        if (error.response.data.data.error === 401) {
                            this.popup.title = error.response.data.data.message;
                            this.popup.body =
                                error.response.data.data.large_description;
                        } else if (error.response.data.data.error > 3000) {
                            this.popup.title = "Error en el método de pago";
                            this.popup.body = error.response.data.data.message;
                        }

                        this.popup.open = true;
                    }
                });
        },
        sendData: function(data) {
            this.requestData = data;

            window.scrollTo(0, 0);
            this.loader();
            this.checkoutDisabled = true;
            this.errors.hasError = false;
            this.errors.credit_card = false;

            if (typeof data.credit_card.id === "undefined") {
                this.validateCreditCard(data.credit_card);
            } else {
                this.saveReservation();
            }
        },
        showError: function(error) {
            window.scrollTo(0, 0);
            this.showLoader = false;
            this.checkoutDisabled = false;

            this.errors.credit_card = true;
            this.errors.hasError = true;
            this.errors.description =
                Errors[error.description] || error.description;
            this.errors.error_code = error.error_code;
        },
        setGateway: function() {
            const credentials = OOLAA.payGateway;

            if (credentials.driver === "openpay") {
                window.OpenPay.setId(credentials.merchantId);
                window.OpenPay.setApiKey(credentials.publicKey);
                window.OpenPay.setSandboxMode(credentials.sandbox);

                helpers.loadScript(
                    "https://openpay.s3.amazonaws.com/openpay-data.v1.min.js",
                    () => {
                        this.gateway.session = window.OpenPay.deviceData.setup();
                    }
                );
            }
        },
        showCheckout: function() {
            this.showCheckoutForm = true;
        },
        showGuideMethod: function() {
            this.guideText = "";
            let errors = {
                inZipCode:
                    _.isEmpty(this.reservation.location) ||
                    this.reservation.location.zip_code === "",
                inDate: this.reservation.date === "",
                inTime: this.reservation.time === ""
            };

            if (!this.authCheck()) {
                this.guideText = "Primero debes iniciar sesión";
            } else if (errors.inDate && errors.inTime) {
                this.guideText = "Primero debes ingresar tu fecha y hora";
            } else if (errors.inDate) {
                this.guideText = "Primero ingresa la fecha";
            } else if (errors.inTime) {
                this.guideText = "Primero elige la hora";
            }

            if (this.showStylistsList) {
                if (errors.inZipCode && errors.inDate && errors.inTime) {
                    this.guideText =
                        "Primero debes ingresar tu código postal, fecha y hora";
                } else if (errors.inZipCode && errors.inDate) {
                    this.guideText =
                        "Primero debes ingresar tu código postal y fecha";
                } else if (errors.inZipCode && errors.inTime) {
                    this.guideText =
                        "Primero debes ingresar tu código postal y hora";
                } else if (errors.inZipCode) {
                    this.guideText = "Primero elige el código postal";
                }
            }

            this.showGuide = this.guideText.length > 0;
        },
        showServices: function(clicked) {
            this.servicesSelected = [];

            if (clicked.value === 1) {
                this.locationBackup = this.reservation.location;
                this.$set(this.reservation, "location", {});
                this.getServices();
            } else {
                this.$set(this.reservation, "location", this.locationBackup);
                this.getStylists();
            }

            this.buttons.forEach((btn, index) => {
                if (btn.value === clicked.value) {
                    btn.selected = true;
                } else {
                    btn.selected = false;
                }
            });
        },
        validateReservationData: function() {
            let validate = true;

            if (
                (_.isEmpty(this.reservation.location) ||
                    this.reservation.location.zip_code === "") &&
                this.showServicesList === false
            ) {
                validate = false;
            }
            if (this.reservation.date === "") {
                validate = false;
            }
            if (this.reservation.time === "") {
                validate = false;
            }

            return validate;
        },
        validateCreditCard(data) {
            const credentials = OOLAA.payGateway;

            if (
                credentials.driver === "openpay" &&
                window.OpenPay !== undefined
            ) {
                window.OpenPay.token.create(
                    {
                        card_number: data.card,
                        holder_name: data.name,
                        expiration_year: data.dateObj.year,
                        expiration_month: data.dateObj.month,
                        cvv2: data.cvc
                    },
                    response => {
                        this.gateway.id = response.data.id;
                        this.requestData.gateway = response.data;
                        this.requestData.gateway.session_id = this.gateway.session;

                        this.saveReservation();
                    },
                    error => {
                        this.showError(error.data);
                    }
                );
            } else {
                console.error("error in [Search] validateCreditCard()");
            }
        }
    },
    created() {
        if (!this.authCheck()) {
        }
        // TODO send request when user dont have locations
        this.getStylists();
        this.getUserData();

        if (window.OpenPay === undefined) {
            window.onload = helpers.loadScript(
                "https://openpay.s3.amazonaws.com/openpay.v1.min.js",
                this.setGateway
            );
        }
    }
};
</script>
