<template>
    <div class="services-list">
        <div class="services-list-wrapper">
            <div class="service-list-header">
                <div class="service-list-cover">
                    <img v-bind:src="serviceCategory.cover" alt="cover">
                </div>
                <div class="service-list-title">
                    {{ serviceCategory.name }}
                </div>
            </div>
            <div class="service-list-body">
                <ul class="service-list-items">
                    <li class="service-list-item" v-for="(service, i) in serviceCategory.services" :key="i">
                        <counter-of-services :stylist="{id: 0}"
                                             :service="service"
                                             :enable="enable && service.enable"
                                             :selected="getSelected(service)"
                                             v-on:update="updateCounter"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import CounterOfServices from "./CounterOfServices";

export default {
    components: {
        CounterOfServices
    },
    props: {
        enable: {
            type: Boolean,
            default: true
        },
        serviceCategory: {
            type: Object,
            required: true
        },
        servicesDefault: {
            type: Array,
            default: []
        }
    },
    data: function() {
        let servicesSelected = this.servicesDefault;

        return {
            servicesSelected
        };
    },
    watch: {
        servicesDefault: {
            handler: function() {
                this.servicesSelected = this.servicesDefault;
            },
            deep: true
        }
    },
    methods: {
        getSelected: function(service) {
            var service_id = service.id;

            var item = this.servicesSelected.find(
                o => o.service_id === service_id
            );

            if (typeof item === "undefined") {
                item = {};
            }

            return item;
        },
        updateCounter: function(item) {
            var service_id = item.service_id;
            let that = this;

            var exists = this.servicesSelected.find((o, i) => {
                var equal = o.service_id === service_id;

                if (equal) {
                    if (item.quantity > 0) {
                        that.servicesSelected[i] = item;
                    } else {
                        that.servicesSelected.splice(i, 1);
                    }
                }

                return equal;
            });

            if (typeof exists === "undefined" && item.quantity > 0) {
                this.servicesSelected.push(item);
            }

            this.emitEvent();
        },
        emitEvent: function() {
            this.$emit("update", {
                id: this.serviceCategory.id,
                selected: this.servicesSelected
            });
        }
    }
};
</script>
