<template>
    <div class="shopping-cart" id="shopping-cart">
        <div class="shopping-cart-list" v-show="showList">
            <ul class="services-list">
                <template v-if="format === listStylist">
                    <li v-for="stylist in servicesSelected">
                        <strong>{{ stylist.name }}</strong>
                        <ul class="services-list-items">
                            <li class="services-list-item" v-for="(service, index) in stylist.selected">
                                <div class="quantity">{{ service.quantity }}</div>
                                <div class="service">{{ service.service.full_name }}</div>
                                <div class="delete">
                                    <button class="form-delete" @click="removeService(stylist.id, index)">
                                        <i class="fa fa-times-circle-o"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </template>
                <template v-if="format === listServices">
                    <template v-for="category in servicesSelected">
                        <li class="services-list-item" v-for="(service, index) in category.selected">
                            <div class="quantity">{{ service.quantity }}</div>
                            <div class="service">{{ service.service.full_name }}</div>
                            <div class="delete">
                                <button class="form-delete" @click="removeService(category.id, index)">
                                    <i class="fa fa-times-circle-o"></i>
                                </button>
                            </div>
                        </li>
                    </template>
                </template>
            </ul>
        </div>

        <button class="button-shopping-cart" v-show="showCart" @click="toggleList">
            <span class="counter">{{ counter }}</span>
            <i class="fa fa-shopping-cart"></i>
        </button>

        <div class="shopping-cart-row">
            <div class="shopping-cart-container">
                <button class="btn btn-block btn-next" v-show="showCart" @click="next">Continuar</button>

                <div class="btn-container" v-show="!showCart">
                    <button class="btn btn-default"
                            :class="button.selected ? 'selected': ''"
                            v-for="button in buttons"
                            @click="toolClicked(button)">{{ button.text }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        buttons: {
            type: Array,
            default: []
        },
        format: {
            type: String,
            default: "stylists"
        },
        servicesSelected: {
            required: true,
            type: Array
        }
    },
    data: function() {
        return {
            listServices: "services",
            listStylist: "stylists",
            showList: false,
            showCart: false
        };
    },
    computed: {
        counter: function() {
            let counter = 0;

            this.servicesSelected.forEach(item => {
                item.selected.forEach(s => {
                    counter += s.quantity;
                });
            });

            this.showCart = counter > 0;
            this.showList = false;

            return counter;
        }
    },
    methods: {
        next: function() {
            this.$emit("send");
        },
        toolClicked: function(button) {
            this.$emit("toolClicked", button);
        },
        removeService: function(entity_id, index) {
            this.$emit("delete", entity_id, index);
        },
        toggleList: function() {
            this.showList =
                this.servicesSelected.length === 0 ? false : !this.showList;
        }
    }
};
</script>
