<template>
    <div class="stylist-card">
        <div class="stylist-card-wrapper">
            <div class="stylist-card-header">
                <div class="stylist-card-avatar">
                    <img v-bind:src="stylist.avatar" alt="stylist avatar">
                </div>
                <div class="stylist-card-data">
                    <div class="stylist-card-name">
                        <a :href="linkToProfile">
                            {{ stylist.name }}
                        </a>
                    </div>
                    <div class="stylist-card-subtitle">
                        {{ title }}
                    </div>
                    <div class="stylist-card-rate">
                        <i class="fa fa-star active" v-for="n in rate"></i><i class="fa fa-star" v-for="n in empty"></i>
                    </div>
                </div>
            </div>

            <div class="stylist-card-portfolio">
                <div :class="carouselClass">
                    <div class="stylist-card-portfolio-carousel-item" v-for="photo in stylist.photo_books">
                        <div class="stylist-card-portfolio-carousel-item-wrapper" :style="{ backgroundImage: `url(${photo.image})` }"></div>
                    </div>
                </div>
            </div>

            <div class="stylist-card-services">
                <div class="stylist-card-service" v-for="category in stylist.services">
                    <div class="stylist-card-service-header">
                        {{ category.name }}
                    </div>
                    <div :class="{'stylist-card-service-body': true, open}">
                        <div class="stylist-card-service-item" v-for="service in category.services">
                            <counter-of-services :stylist="stylist"
                                                 :service="service"
                                                 :selected="getSelected(service)"
                                                 :enable="enable"
                                                 v-on:update="updateCounter"/>
                        </div>
                    </div>
                    <div class="stylist-card-service-footer" v-show="category.services.length > 4">
                        <a class="link" href="#" @click.prevent="toggleList">
                            {{ (!open) ? 'Ver más...' : 'Cerrar' }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CounterOfServices from "./CounterOfServices";

export default {
    props: {
        stylist: {
            type: Object,
            required: true
        },
        servicesDefault: {
            type: Array,
            default: []
        },
        enable: {
            type: Boolean,
            default: true
        }
    },
    computed: {
        carouselClass: function() {
            return `stylist-card-portfolio-carousel-${this.stylist.id}`;
        },
        linkToProfile: function() {
            return this.stylist.url;
        },
        rate: function() {
            return Math.round(this.stylist.rating);
        },
        empty: function() {
            return 5 - Math.round(this.stylist.rating);
        },
        title: function() {
            return this.stylist.type ? this.stylist.type : "";
        }
    },
    data: function() {
        let servicesSelected = this.servicesDefault;

        return {
            servicesSelected,
            open: false
        };
    },
    watch: {
        servicesDefault: {
            handler: function() {
                this.servicesSelected = this.servicesDefault;
            },
            deep: true
        }
    },
    methods: {
        getSelected: function(service) {
            var service_id = service.id;

            var item = this.servicesSelected.find(
                o => o.service_id === service_id
            );

            if (typeof item === "undefined") {
                item = {};
            }

            return item;
        },
        toggleList: function() {
            this.open = !this.open;
        },
        updateCounter: function(item) {
            var service_id = item.service_id;
            let that = this;

            var exists = this.servicesSelected.find((o, i) => {
                var equal = o.service_id === service_id;

                if (equal) {
                    if (item.quantity > 0) {
                        that.servicesSelected[i] = item;
                    } else {
                        that.servicesSelected.splice(i, 1);
                    }
                }

                return equal;
            });

            if (typeof exists === "undefined" && item.quantity > 0) {
                this.servicesSelected.push(item);
            }

            this.emitEvent();
        },
        emitEvent: function() {
            let total = 0;
            for (let i = 0; i < this.servicesSelected.length; i++) {
                total +=
                    this.servicesSelected[i].quantity *
                    this.servicesSelected[i].service.value;
            }

            this.$emit("update", {
                id: this.stylist.id,
                name: this.stylist.name,
                total,
                selected: this.servicesSelected
            });
        }
    },
    components: {
        CounterOfServices
    },
    mounted() {
        $(`.${this.carouselClass}`).slick({
            infinite: true,
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            prevArrow:
                '<button type="button" class="slick-prev-oolaa"><i class="fa fa-chevron-left"></i></button>',
            nextArrow:
                '<button type="button" class="slick-next-oolaa"><i class="fa fa-chevron-right"></i></button>',
            responsive: [
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 5
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 423,
                    settings: {
                        slidesToShow: 3
                    }
                }
            ]
        });
    }
};
</script>
