<template>
    <div class="time-picker">
        <div class="time-picker-form-control">
            <input type="text"
                   v-model="hourSelected"
                   readonly
                   :class="inputClass"
                   :placeholder="placeholder"
                   @click="open">
            <button class="btn-time-picker" @click="clean">×</button>
        </div>

        <div class="modal-cmp-content-wrapper mfp-hide" ref="modal">
            <div class="modal-cmp-content">
                <div class="time-picker-widget">
                    <div class="time-picker-header">Hora</div>
                    <div class="time-picker-body">
                        <ul class="time-picker-hours">
                            <li :class="getHourClass(hour)" v-for="hour in hours" v-on:click="selected(hour)">
                                {{ hour.placeholder }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: ""
        },
        from: {
            type: Number,
            default: 0 // 0 to 23.9
        },
        to: {
            type: Number,
            default: 23.5 // 0 to 23.9
        },
        step: {
            type: Number,
            default: 0.5 // 0.1 to 1
        },
        placeholder: {
            type: String,
            default: ""
        },
        inputClass: {
            type: String,
            default: ""
        }
    },
    data: function() {
        return {
            show: false,
            hourSelected: "",
            hourSelectedValue: ""
        };
    },
    computed: {
        hours: function() {
            const hours = [];

            for (let i = this.from; i <= this.to; i += this.step) {
                hours.push({
                    placeholder: this.parseToHour(i) + " hrs.",
                    value: this.parseToHour(i)
                });
            }

            return hours;
        }
    },
    watch: {
        hourSelectedValue: function() {
            this.$emit("input", this.hourSelectedValue);
        }
    },
    methods: {
        clean() {
            this.hourSelected = "";
            this.hourSelectedValue = "";
            this.$emit("selected", hour.value);
        },
        parseToHour(number) {
            let decimalTime = parseFloat(number);
            decimalTime = decimalTime * 60 * 60;

            let hours = Math.floor(decimalTime / (60 * 60));
            decimalTime = decimalTime - hours * 60 * 60;

            let minutes = Math.floor(decimalTime / 60);
            decimalTime = decimalTime - minutes * 60;

            let seconds = Math.round(decimalTime);

            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }

            return `${hours}:${minutes}`;
        },
        getHourClass(hour) {
            const classes = ["time-picker-hour"];

            if (hour.value === this.hourSelectedValue) {
                classes.push("selected");
            }

            return classes;
        },
        selected(hour) {
            this.hourSelected = hour.placeholder;
            this.hourSelectedValue = hour.value;
            this.close();

            this.$emit("selected", hour.value);
        },
        close() {
            if (!$.magnificPopup.instance.isOpen) {
                return;
            }

            $.magnificPopup.close();

            this.$emit("closed");
        },
        open() {
            if (!!$.magnificPopup.instance.isOpen) {
                return;
            }

            $.magnificPopup.open({
                items: {
                    src: $(this.$refs.modal),
                    type: "inline"
                },
                callbacks: {
                    open: function() {
                        let c = document.querySelector(".mfp-content");
                        c.style.maxWidth = "300px";
                    }
                }
            });

            this.$emit("opened");
        }
    },
    created() {
        this.hourSelectedValue = this.value;
    }
};
</script>

<style>
.time-picker {
    position: relative;
}

.time-pricker-wrapper {
    background: rgba(0, 0, 0, 0.48);
    bottom: 0;
    height: 100%;
    left: 0;
    padding: 88px 30px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.time-picker-widget {
    background: #ffffff;
    margin: 0 auto;
    padding: 10px;
    max-width: 300px;
}

.time-picker-header {
    text-align: center;
    font-size: 16px;
}

.time-picker-body {
    height: 216px;
    overflow: scroll;
    width: 100%;
}

.time-picker-hours {
    list-style: none;
    margin: 0;
    padding: 0;
}

.time-picker-hour {
    border-bottom: 1px solid #cdcfce;
    color: #29b882;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}

.time-picker-hour.selected:hover {
    background: #29b882;
}

.time-picker-hour:hover {
    background: rgba(120, 120, 120, 0.1);
}

.selected {
    background: #29b882;
    color: #ffffff;
}

.btn-time-picker {
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
    color: rgba(60, 60, 60, 0.5);
    cursor: pointer;
    border: none;
    background: transparent;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
</style>
