<template>
    <div class="zip-code">
        <div class="zip-code-form-control">
            <input type="text"
                   v-model="addressSelected.zip_code"
                   v-show="!showInput"
                   :readonly="true"
                   :class="inputClass"
                   :placeholder="placeholder"
                   @click="clicked">

            <input type="text"
                   ref="zipCode"
                   v-model="addressSelected.zip_code"
                   v-show="showInput"
                   :class="inputClass"
                   :placeholder="placeholder"
                   @click="open">
        </div>

        <div class="modal-cmp-content-wrapper mfp-hide" ref="modal">
            <div class="modal-cmp-content">
                <div class="zip-code-widget">
                    <div class="zip-code-header">Dirección</div>
                    <div class="zip-code-body">
                        <ul class="zip-code-locations">
                            <li :class="getZipCodeClass(location)" v-for="location in locations" v-on:click="selected(location)">
                                {{ location.line }}
                            </li>
                        </ul>
                    </div>
                    <div class="zip-code-footer">
                        <button type="button" class="btn btn-block btn-success" @click="avoid">
                            Usar otro código postal
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        locations: {
            type: Array,
            default: () => []
        },
        inputClass: {
            type: String,
            default: ""
        },
        placeholder: {
            type: String,
            default: "C.P."
        },
        value: {
            type: Object,
            default: ""
        }
    },
    data: function() {
        return {
            addressSelected: {},
            showInput: false,
            zipCode: ""
        };
    },
    watch: {
        addressSelected: function() {
            this.$emit("input", this.addressSelected);
        },
        locations: function() {
            this.setSelected();
        }
    },
    methods: {
        avoid: function() {
            this.setFocus();
            this.close();

            this.$emit("avoid");
        },
        close: function() {
            if (!$.magnificPopup.instance.isOpen) {
                return;
            }

            $.magnificPopup.close();

            this.$emit("closed");
        },
        clicked: function() {
            this.open();
        },
        getZipCodeClass: function(location) {
            const classes = ["zip-code-location"];

            if (location.id === this.addressSelected.id) {
                classes.push("selected");
            }

            return classes;
        },
        open: function() {
            if (this.locations.length > 0) {
                if ($.magnificPopup.instance.isOpen) {
                    return;
                }

                $.magnificPopup.open({
                    items: {
                        src: $(this.$refs.modal),
                        type: "inline"
                    },
                    callbacks: {
                        open: function() {
                            let c = document.querySelector(".mfp-content");
                            c.style.maxWidth = "300px";
                        }
                    }
                });

                this.$emit("opened");
            } else {
                this.setFocus();
            }
        },
        selected: function(location) {
            this.addressSelected = location;

            this.close();

            this.$emit("selected", location);
        },
        setDefault: function() {
            this.addressSelected = {};
        },
        setFocus: function() {
            this.showInput = true;

            this.$nextTick(() => this.$refs.zipCode.focus());

            this.setDefault();
        },
        setSelected: function() {
            let that = this;

            this.locations.forEach(function(location) {
                if (location.default) {
                    that.addressSelected = location;
                }
            });

            if (_.isEmpty(this.addressSelected) && this.locations.length > 0) {
                this.addressSelected = this.locations[0];
            }
        }
    },
    mounted: function() {
        this.addressSelected = this.value;
    }
};
</script>

<style>
.zip-code {
}

.zip-code-form-control {
}

.zip-code-wrapper {
    background: rgba(0, 0, 0, 0.48);
    bottom: 0;
    height: 100%;
    left: 0;
    padding: 88px 30px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.zip-code-widget {
    background: #ffffff;
    margin: 0 auto;
    max-width: 300px;
}

.zip-code-header {
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.zip-code-body {
    height: 216px;
    overflow: scroll;
    padding: 10px;
    width: 100%;
}

.zip-code-footer {
    border-top: 1px solid #cdcfce;
    padding: 10px;
}

.zip-code-locations {
    list-style: none;
    margin: 0;
    padding: 0;
}

.zip-code-location {
    border-bottom: 1px solid #cdcfce;
    color: #29b882;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    text-align: left;
}

.zip-code-location.selected:hover {
    background: #29b882;
}

.zip-code-location:hover {
    background: rgba(120, 120, 120, 0.1);
}

.zip-code-location:last-child {
    border-bottom: none;
}

.form-add {
    display: flex;
}

.zip-code .btn-success {
    background: #ed6e58;
    border-color: #ed6e58;
}
</style>
