.mfp-content {
  margin: auto;
  max-width: 420px;
}

.auth-form {
  &.panel {
    margin-bottom: 0;

    .panel-heading {
      border: none;
      padding: 16px;
      text-align: center;

      h2 {
        font-weight: 200;
        margin: 0;
      }
    }

    .form-control {
      height: auto;
      padding: 12px 22px;
    }

    .link-register {
      margin: 0 0 32px;
      text-align: center;
    }

    .line {
      border-bottom: 1px solid #d3e0e9;
      margin: 32px 0;
      width: 100%;
    }

    .social {
      margin-bottom: 16px;

      .btn {
        margin-bottom: 16px;
        padding: 12px 32px;
        position: relative;
      }

      .fa {
        font-size: 24px;
        left: 32px;
        margin-right: 16px;
        position: absolute;
      }

      .fa-google {
        color: rgb(75, 134, 234)
      }
    }
  }
}
