.card-counter {
  display: flex;
  justify-content: space-between;

  .col {
    display: flex;
  }

  .btn {
    background: #ffffff;
    border: 1px solid $color-primary;
    border-radius: 2px;
    height: 24px;
    padding: 0;
    width: 24px;

    &.disabled {
      background: #efefef;
      border-color: $color-primary-darker;
    }
  }

  .stylist-card-quantity {
    display: inline-block;
    font-size: 13px;
    padding: 0 2px;
    text-align: center;
  }

  .stylist-card-service-name {
    max-width: 195px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media only screen and (max-width: 992px) {
      max-width: 160px;
    }

    @media only screen and (max-width: 729px) {
      max-width: 150px;
    }

    @media only screen and (max-width: 705px) {
      max-width: 140px;
    }

    @media only screen and (max-width: 682px) {
      max-width: 460px;
    }

    @media only screen and (max-width: 630px) {
      max-width: 400px;
    }

    @media only screen and (max-width: 570px) {
      max-width: 340px;
    }

    @media only screen and (max-width: 510px) {
      max-width: 280px;
    }

    @media only screen and (max-width: 450px) {
      max-width: 220px;
    }

    @media only screen and (max-width: 371px) {
      max-width: 180px;
    }

    @media only screen and (max-width: 330px) {
      max-width: 120px;
    }
  }

  .stylist-card-service-price {
    text-align: right;
  }
}
