.checkout {
  padding: 10px;

  .invalid {
    color: $brand-danger;
  }

  .checkout-tools {
    padding: 0 0 10px;

    .btn-warning {
      background: $color-third;
      border-color: $color-third;
    }
  }

  .checkout-wrapper {
    background: #ffffff;
    border-radius: 3px;
    padding: 10px;
  }

  .checkout-section {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .checkout-datetime {
  }

  .checkout-title {
    color: #a9a9a9;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
  }

  .checkbox-list {
    border: 1px solid #cdcecf;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    list-style: none;

    .checkbox-list-item {
      border-bottom: 1px solid #cdcecf;
      display: block;
      overflow: hidden;
      padding: 8px;

      &:last-child {
        border-bottom: none;
      }

      &.children {
        border: none;
        padding: 0 0 8px;
      }

      &.total {
        .price {
          float: right;
          width: auto;
        }
      }
    }

    .checkbox-list-sublist {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .quantity {
      float: left;
      width: 10%;
    }

    .service {
      float: left;
      width: 65%;
    }

    .price {
      float: left;
      text-align: right;
      width: 25%;
    }
  }
}
