.credit-card {
  margin-top: 20px;
  position: relative;

  .credit-card-tools {
    position: absolute;
    right: 0;
    top: 0;

    .btn {
      color: $color-third;
      outline: none;
      text-decoration: underline;
    }
  }

  .credit-card-header {
    margin-bottom: 10px;
  }

  .credit-card-title {
    color: #a9a9a9;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
  }

  .credit-card-body {}

  .credit-card-list {
    margin-bottom: 10px;
  }

  .credit-card-form-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .form-control {
      border-radius: 2px;
    }

    .form-group {
      width: 100%;

      &.card-number,
      &.card-name {
        width: 100%;
      }

      &.card-date,
      &.card-cvc {
        width: 49.5%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .payment-accepted {
    margin-bottom: 10px;
    overflow: hidden;

    .cards {
      border-right: 1px solid #cdcecf;
      float: left;
      padding-right: 10px;
      width: 50%;

      @media only screen and (max-width: 420px) {
        border: none;
        padding: 0;
        width: 100%;
      }

      &:last-child {
        border-right: none;
        padding-left: 10px;
        padding-right: 0;

        @media only screen and (max-width: 420px) {
          padding: 0;
        }
      }

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  .payment-gateway {
    font-size: 10px;
    margin-bottom: 10px;
    text-align: right;
    width: 100%;

    @media only screen and (max-width: 420px) {
      font-size: 8px;
    }

    .openpay {
      display: inline-block;
      border-right: 1px solid #cdcecf;
      overflow: hidden;
      padding-right: 10px;
      vertical-align: top;

      img {
        display: block;
        height: auto;
        max-width: 70px;
        width: 100%;
      }
    }

    .shield {
      display: inline-block;
      overflow: hidden;
      padding-left: 10px;
      text-align: left;
      vertical-align: top;
      max-width: 220px;

      @media only screen and (max-width: 420px) {
        max-width: 200px;
      }

      img {
        float: left;
        height: auto;
        margin-right: 8px;
        width: 24px;
      }
    }
  }
}