.credit-card-select {
  position: relative;

  .credit-card-select-input {
    border: 1px solid #cdcecf;
    border-radius: 2px;
    padding: 5px 22px 5px 10px;
    position: relative;

    &:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #cdcecf;
      content: '';
      height: 0;
      position: absolute;
      right: 10px;
      top: 14px;
      width: 0;
    }

    .credit-card-select-input-label {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .credit-card-select-list {
    background: #ffffff;
    border: 1px solid #cdcecf;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    margin-top: -1px;
    // max-height: 240px;
    // overflow: scroll;
    padding: 5px 0;
    position: absolute;
    width: 100%;
  }

  .credit-card-option {
    background: #ffffff;
    border-bottom: 1px solid #cdcecf;
    padding: 5px 10px;
    position: relative;

    &:last-child {
      border-bottom: none;
    }

    .credit-card-label {}

    .credit-card-tools {
      background: #ffffff;
      position: absolute;
      right: 10px;
      top: 3px;

      .btn {
        padding: 1px 5px;
      }
    }
  }
}