.footer {
  background-color: #222222;
  color: #ffffff;
  overflow: hidden;
  padding: 42px 0;

  .container {
    background: transparent;
  }

  .footer-section {
    float: left;
    width: (100/3) * 1%;

    @media only screen and (max-width: 991px) {
      width: 50%;

      &:last-child {
        margin-top: 48px;
        text-align: center;
        width: 100%;
      }
    }

    @media only screen and (max-width: 780px) {
      margin-bottom: 64px;
      width: 100%;

      &:last-child {
        margin-top: 0;
      }
    }

    .col {
      border-left: 1px solid #484848;
      box-sizing: border-box;
      float: left;
      padding: 0 16px;
      width: 70%;

      @media only screen and (max-width: 780px) {
        width: 50%;
      }

      @media only screen and (max-width: 399px) {
        border: none;
        text-align: center;
        width: 100%;
      }

      &:first-child {
        border: none;
        width: 30%;

        @media only screen and (max-width: 780px) {
          width: 50%;
        }

        @media only screen and (max-width: 399px) {
          width: 100%;
        }
      }
    }
  }

  .footer-nav {
    @media only screen and (max-width: 780px) {
      text-align: center;
    }

    &.un-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &.inline {
      li {
        display: inline-block;
      }
    }

    &.list-green {
      list-style: none;

      li {
        &:before {
          content: "\2022";
          color: $color-primary;
          margin-right: 12px;

          @media only screen and (max-width: 780px) {
            content: "";
          }
        }
      }
    }

    &.social {
      font-size: 32px;
      text-align: center;

      @media only screen and (max-width: 780px) {
        text-align: right;
      }

      @media only screen and (max-width: 399px) {
        text-align: center;
      }

      li {
        margin-right: 8px;
      }
    }

    li {
      line-height: 1;
      margin-bottom: 16px;
    }

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  .contact {
    h3 {
      margin: 0 0 16px;
    }
  }

  .logo {
    display: inline-block;
    height: auto;
    width: 68px;

    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}