.form-reservation {
  background: #f9f9f9;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.28);
  margin: -2px 0 10px;
  padding: 10px;
  position: relative;
  width: 100%;
  z-index: $form-filter;

  &.top {
    position: fixed;
    top: 0;
  }

  @media only screen and (max-width: 780px) {
    position: fixed;

    &.top {
      top: auto;
    }
  }

  .form-reservation-container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;

    @media only screen and (max-width: 1200px) {
      max-width: 970px;
    }

    @media only screen and (max-width: 991px) {
      max-width: 750px;
    }
  }

  .reservation-data {
    display: flex;
    justify-content: space-between;

    .btn-go-to-login {
      background: $color-third;
      border-radius: 2px;
      color: #ffffff;
    }

    .col {
      flex-grow: 1;
      padding-right: 10px;

      &:last-child {
        padding-right: 0;
      }
    }

    .form-control {
      background: #ffffff;
      border-radius: 2px;
      border: 1px solid #cdcfce;
    }
  }

  .filter {
    .filter-principal {
      display: flex;
      margin-top: 10px;

      .btn-pink {
        background: $color-second;
        border-color: $color-second-dark;
        color: #ffffff;
      }

      .dropdown {
        width: 100%;
      }

      .col {
        display: flex;
        padding-right: 10px;

        &:last-child {
          padding-right: 0;
        }

        &.grow-1 {
          flex-grow: 1;
        }

        &.grow-4 {
          flex-grow: 4;
        }

        &.grow-6 {
          flex-grow: 6;
        }
      }

      .fa-angle-down,
      .fa-angle-up {
        float: right;
        padding-top: 4px
      }

      .filter-options {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;

        .btn {
          border-radius: 2px;
          margin-top: 0;
        }
      }
    }

    .filter-second {
      .filter-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10px;

        .col {
          border-bottom: 1px solid #cdcfce;
          margin-bottom: 10px;
          width: 100%;

          &:last-child {
            border-bottom: none;
            margin-bottom: 0
          }
        }

        .filter-title {
          font-weight: 600;
          margin-bottom: 6px;
          text-align: center;
        }

        .filter-list {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .filter-list-item {
          text-align: center;

          label {
            color: $color-primary;
            font-weight: normal;
          }
        }
      }

      .filter-searcher {
        margin-top: 10px;
        position: relative;

        .btn {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    .selected-tag {
      position: absolute;
    }
  }
}
