.header.edc-nav {
  background-color: $color-primary;
  box-shadow: 0 0 2px 1px $color-primary-darker;
  box-sizing: border-box;
  height: auto;
  padding: 8px;
  z-index: $header;

  .burger {
    cursor: pointer;
    left: 8px;
    padding: 8px;
    top: 5px;
  }

  .logo {
    // display: block;
    height: auto;
    text-align: center;
    width: 92px;

    @media only screen and (max-width: 780px) {
      height: 42px;
      width: 100%;
    }

    img {
      display: inline-block;
      height: 100%;
      width: 100%;

      @media only screen and (max-width: 780px) {
        width: auto;
      }
    }
  }
}

.nav.edc-nav {
  right: 8px;
  z-index: $header;

  @media only screen and (max-width: 780px) {
    background-color: $color-primary-dark;
    display: none;
    opacity: 0;
    z-index: $header-mobile;

    &.edc-nav-close {
      display: none;
      opacity: 0;
    }

    &.edc-nav-open {
      display: block;
    }
  }

  li {
    @media only screen and (max-width: 780px) {
      border-bottom: 1px solid $color-primary-darker;

      &:first-child a.active,
      &:first-child a:hover {
        border-radius: 0;
        background-color: $color-primary-darker;
      }
    }

    a {
      color: #ffffff;
      font-size: 14px;
      padding: 18px 21px;
      text-decoration: none;

      &:hover {
        color: #ffffff;
        background: $color-primary-dark;
      }

      @media only screen and (max-width: 780px) {
        text-decoration: none;

        &:hover {
          background-color: $color-primary-darker;
        }
      }
    }
  }

  .dropdown {
    border: none;

    &.open > a {
      background: $color-primary-darker;
      border: none;
    }

    a:first-child {
      @media only screen and (max-width: 780px) {
        border-bottom: 1px solid $color-primary-darker;
      }
    }
  }

  .dropdown-menu {
    background: $color-primary-dark;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    left: auto;
    right: 0;
    width: 100%;

    @media only screen and (max-width: 780px) {
      display: block;
    }

    a {
      @media only screen and (max-width: 780px) {
        padding-left: 38px;
      }

      &:first-child {
        border-bottom: none;
      }

      &:hover, &:focus {
        background: $color-primary-darker;
      }
    }

    li {
      border-bottom: 1px solid $color-primary-darker;
      display: block;
      float: none;
    }
  }
}

.content.edc-nav {
  transform: none;
  z-index: $principal-container;

  &.edc-nav-close {
    transform: none;
  }
}
