.hero-carousel {
  &.slick-slider {
    height: 91.8%;

    @media only screen and (max-width: 375px) {
      height: 62%;
    }

    &.slick-dotted {
      margin-bottom: 0;
    }

    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide div {
      height: 100%;
    }

    .slick-dots {
      bottom: 18px;

      li {
        button:before {
          font-size: 12px;
        }

        &.slick-active {
          button:before {
            color: $color-primary;
          }
        }
      }
    }

    .slick-slide div {
      position: relative;

      .hero-carousel-cover {
        background: center no-repeat;
        background-size: cover;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }

      .hero-content {
        display: flex;
        align-items: center;
        justify-content: center;

        .hero-wrapper {
          height: auto;
        }

        .hero-title {
          height: auto;
          text-align: center;

          h2 {
            color: #ffffff;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 0 0 60px;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          }
        }

        .hero-links {
          height: auto;
          text-align: center;

          .btn {
            border-radius: 5px;
            font-size: 18px;
            font-weight: 300;
            padding: 9px 30px;
          }
        }
      }
    }
  }
}
