.home-steps {
  padding: 64px 16px;
  text-align: center;

  .title {
    font-weight: 300;
    margin: 0 0 48px;
  }

  .video {
    margin-bottom: 48px;

    iframe {
      @media only screen and (max-width: 780px) {
        height: 440px;
        width: 100%;
      }

      @media only screen and (max-width: 414px) {
        height: 199px;
      }

      @media only screen and (max-width: 412px) {
        height: 197px;
      }

      @media only screen and (max-width: 375px) {
        height: 176px;
      }

      @media only screen and (max-width: 360px) {
        height: 168px;
      }
    }
  }

  .steps {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .step {
      align-items: stretch;
      display: flex;
      padding: 8px;
      width: 25%;

      @media only screen and (max-width: 991px) {
        width: 50%;
      }

      @media only screen and (max-width: 483px) {
        width: 100%;
      }

      .step-wrapper {
        background: #fafafa;
        padding: 16px;
        width: 100%;
      }

      .step-title {
        font-weight: 200;
      }

      .step-icon {
        margin: 32px 0;
      }

      .step-body {}
    }
  }
}