.home-top-stylists {
  background: #ffffff;
  padding: 64px 16px;
  text-align: center;

  .title {
    font-weight: 300;
    margin: 0 0 48px;
  }

  .top-stylists-carousel {
    .top-stylist-carousel-item {
      padding: 8px;

      .stylist-portfolio {
        display: block;
        width: 100%;

        @media only screen and (max-width: 780px) {
          height: auto;
        }

        img {
          border-radius: 4px;
          display: block;
          height: 100%;
          width: 100%;
        }
      }

      .stylist-profile {
        align-items: flex-end;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: -23px;

        .stylist-avatar {
          img {
            border: 2px solid $color-second;
            border-radius: 50%;
            height: 75px;
            width: 75px;
          }
        }

        .stylist-name {
          text-align: left;
          padding-left: 8px;
        }
      }
    }
  }
}