.our-services {
  padding: 64px 16px;
  text-align: center;

  .title {
    font-weight: 300;
    margin: 0 0 48px;
  }

  .service-categories {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .category {
    align-items: stretch;
    display: flex;
    padding: 8px;
    width: (100/3) * 1%;

    @media only screen and (max-width: 991px) {
      width: 50%;
    }

    @media only screen and (max-width: 483px) {
      width: 100%;
    }
  }

  .category-wrapper {
    background: #fafafa;
    padding: 16px;
    width: 100%;
  }

  .category-title {
    font-weight: 200;
  }

  .category-icon {
    margin: 32px auto;
    max-width: 100px;
    max-height: 100px;
  }

  .category-icon img {
    width: 100%;
    height: auto;
  }

  .category-body {}

  .category-services {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .category-price {
    color: #9a9a9a;
  }
}
