.location {
  margin-top: 20px;
  position: relative;

  .location-tools {
    position: absolute;
    right: 0;
    top: 0;

    .btn {
      color: $color-third;
      outline: none;
      text-decoration: underline;
    }
  }

  .location-header {}

  .location-title {
    color: #a9a9a9;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
  }

  .location-body {}

  .location-list {
    margin-bottom: 10px;
  }

  .location-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .form-control {
      border-radius: 2px;
    }

    .form-group {
      width: 100%;

      &.address {
        width: 55%;
      }

      &.zip-code,
      &.no-int {
        width: 21%;
      }

      &.comments {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}