#page-loader {
  background: #dfdfdf;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $loader;

  .loader {
    margin: 5px auto;
    font-size: 10px;
    text-indent: -9999em;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #29b882;
    background: linear-gradient(90deg,#29b882 10%,hsla(0,0%,100%,0) 42%);
    position: relative;
    -webkit-animation: load3 0.6s infinite linear;
    animation: load3 0.6s infinite linear;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    &::before {
      width: 50%;
      height: 50%;
      background: $color-primary;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }

    &::after {
      background: #dfdfdf;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

