.panel-o {
  background: #fafafa;
  border: 1px solid #cdcfce;
  border-radius: 5px;
  box-shadow: -1px 6px 11px 4px #cdcfce;
  margin: 32px auto;
  padding: 16px;
  width: 80%;
  min-width: 340px;

  .panel-body {
    @media only screen and (max-width: 780px) {
      padding: 0;
    }
  }

  .navbar {
    background: transparent;
    border: none;
    border-radius: 0;

    .container-fluid {
      margin: 0;
      padding: 0;
    }

    .navbar-collapse {
      padding: 0;
    }

    .navbar-header {
      display: none;
      border-bottom: 2px solid $color-primary;

      @media only screen and (max-width: 780px) {
        display: inline-block;
        margin: 0;
        width: 100%;
      }

      .navbar-toggle {
        margin: 9px 14px;
        padding: 4px 10px;
      }
    }

    .navbar-collapse {
      background: #ffffff;
      border: none;
      margin: 0;
    }

    .navbar-nav {
      margin: 0;
      width: 100%;

      li {
        text-align: center;
        text-transform: uppercase;
        width: 20%;

        @media only screen and (max-width: 780px) {
          border-bottom: 1px solid $color-primary;
          width: 100%;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}
