.vdp-datepicker__calendar {
  /*
  background: rgba(0, 0, 0, 0.48) !important;
  bottom: 0;
  border: none !important;
  left: 0;
  padding: 88px 30px;
  position: fixed !important;
  right: 0;
  top: 0;
  width: 100% !important;
  z-index: $reservation-calendar !important;
  */

  .cell.selected,
  .cell.selected.highlighted,
  .cell.selected:hover {
    background: $color-primary !important;
    color: #ffffff;
  }
}
