.reservation-card {
    border-bottom: 1px solid $color-primary;
    margin: 32px 0;
    padding: 20px;

    @media only screen and (max-width: 780px) {
        padding: 20px 0;
    }

    &:last-child {
        border-bottom: none;
    }

    .reservation-header {
        margin: 0 0 16px;
    }

    .reservation-body {}

    .reservation-name {
        h4 {
            color: #000000;
            font-size: 22px;
            font-weight: 400;
            margin: 0 0 8px;
        }

        .reservation-status {
            color: $color-second;
            font-size: 14px;

            &.green {
                color: $color-primary;
            }
        }
    }

    .reservation-datetime {
        color: $gray;
        margin-bottom: 4px;
    }

    .reservation-address {
        color: $gray;
        margin-bottom: 4px;
    }

    .reservation-payment {
        margin-bottom: 16px;
    }

    .reservation-services {
        .table-services {
            margin-bottom: 16px;
            width: 100%;

            @media only screen and (max-width: 780px) {
                font-size: 10px;
            }

            th {
                color: $color-primary;
                font-weight: 400;
                padding-bottom: 6px;
            }

            td {
                background: #ffffff;
                border: 1px solid #c9c9c9;
                padding: 9px 8px;

                /*
                span {
                    background: #ffffff;
                    border: 0 solid #c9c9c9;
                    border-left-width: 1px;
                    border-top-width: 1px;
                    border-bottom-width: 1px;
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 9px 8px;
                }

                &:first-child {
                    span {
                        border-radius: 4px 0 0 4px;
                    }
                }

                &:last-child {
                    span {
                        border-radius: 0 4px 4px 0;
                        border-left: none;
                        border-right-width: 1px;
                    }
                }
                */
            }
        }
    }

    .reservation-total {
        color: $color-primary;
        text-align: right;

        .reservation-label {}

        .reservation-amount {
            font-size: 28px;
            font-weight: 400;
        }
    }
}
