.services-list {
  padding: 0 20px 20px;
  width: 100%;

  .services-list-wrapper {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px #cdcfce;
  }

  .service-list-header {
  }

  .service-list-body {
  }

  .service-list-cover {
    img {
      border-radius: 10px 10px 0 0;
      display: block;
      width: 100%;
    }
  }

  .service-list-title {
    background: $color-primary;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
  }

  .service-list-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .calendar-closed {
    color: $color-second;
  }

  .service-list-item {
    border-bottom: 1px solid #e8e8e8;
    color: #000000;
    padding: 5px 10px;

    .disabled {
      color: #a9a9a9;
    }
  }
}
