#shopping-cart {
  bottom: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: $shopping-cart-button;
}

.shopping-cart {
  .shopping-cart-row {
    background: $color-second;
  }

  .shopping-cart-container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;

    @media only screen and (max-width: 1200px) {
      max-width: 970px;
    }

    @media only screen and (max-width: 991px) {
      max-width: 750px;
    }
  }

  .button-shopping-cart {
    background: $color-primary;
    border: none;
    border-radius: 50%;
    bottom: 58px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 31px;
    height: 64px;
    padding: 8px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 64px;

    &:focus {
      outline: none;
    }
  }

  .btn {
    font-size: 16px;
    line-height: 19px;
    padding: 13px 16px;
  }

  .btn-container {
    .btn {
      background: $color-second;
      border-color: $color-second;
      color: #ffffff;
      font-size: 14px;
      width: 50%;

      &.selected {
        background: $color-second-dark;
        box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.3) inset;
        outline: none;
      }
    }
  }

  .btn-next {
    background: $color-third;
    color: #ffffff;
  }

  .counter {
    background-color: $color-third;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: block;
    font-size: 13px;
    height: 25px;
    padding: 2px 0;
    position: absolute;
    top: -12px;
    right: 0;
    width: 25px;
  }

  .shopping-cart-list {
    background: #ffffff;
    border: 1px solid $color-primary;
    border-radius: 2px;
    bottom: 64px + 17px + 58px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: absolute;
    right: 10px;
    width: 272px;
  }

  .services-list {
    list-style: none;
    margin: 0;
    max-height: 320px;
    overflow: scroll;
    padding: 0;

    .services-list-items {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .services-list-item {
      overflow: hidden;

      .quantity {
        float: left;
        padding: 5px;
        text-align: right;
        width: 32px;
      }

      .service {
        float: left;
        overflow: hidden;
        padding: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 186px;
      }

      .delete {
        float: left;
        text-align: center;
        width: 32px;
      }

      .form-delete {
        background: transparent;
        border: 0;
        color: $red;
        text-align: center;
        padding: 5px;
        width: 32px;

        &:focus, &:active, &:hover {
          background: rgba(0, 0, 0, 0.1);
          outline: none;
        }
      }
    }
  }
}
