.stylist-card {
  $card-width: 320px;
  $card-padding: 10px;
  $card-avatar: 82px;
  $card-data: 300px - $card-avatar;

  padding: 0 10px;
  width: 100%;

  .stylist-card-wrapper {
    background: #ffffff;
    border-radius: 3px;
    height: 100%;
    padding: $card-padding;
    width: 100%;
  }

  .stylist-card-header {
    align-items: center;
    margin-bottom: 10px;
    // overflow: hidden;
    display: flex;
    width: 100%;

    .stylist-card-avatar {
      // float: left;
      height: 82px;
      width: $card-avatar;

      img {
        border: 1px solid $color-primary;
        border-radius: 50%;
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    .stylist-card-data {
      padding: 0 0 0 $card-padding;
      width: $card-data;

      .stylist-card-name {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 2px;

        a {
          color: #000000;
        }
      }

      .stylist-card-subtitle {
        margin-bottom: 4px;
      }

      .stylist-card-rate {
        font-size: 20px;
        line-height: 0;

        .fa {
          color: #cdcecf;

          &.active {
            color: $color-primary;
          }
        }
      }
    }
  }

  .stylist-card-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    .stylist-card-service {
      overflow: hidden;
      margin-top: 8px;
      width: 42%;

      @media only screen and (max-width: 682px) {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .stylist-card-service-header {
        font-weight: bold;
        margin-bottom: 6px;
      }

      .stylist-card-service-body {
        max-height: 112px;
        overflow: hidden;

        &.open {
          max-height: initial;
        }
      }

      .stylist-card-service-footer {
        box-shadow: 0 2px 6px -5px rgba(0, 0, 0, 0.5) inset;
        text-align: center;

        .link {
          display: block;
          padding: 6px;
          width: 100%;

          &:hover, &:active, &:focus {
            color: $color-primary-dark;
          }
        }
      }

      .stylist-card-service-item {
        margin-bottom: 4px;
      }
    }
  }

  .stylist-card-portfolio {
    .stylist-card-portfolio-carousel-item {}

    .slick-arrow {
      background: #ffffff;
      border: 1px solid $color-primary;
      border-radius: 50%;
      color: $color-primary;
      cursor: pointer;
      display: block;
      height: 31px;
      line-height: 1;
      outline: none;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(0, -50%);
      width: 31px;
      z-index: 1;
    }

    .slick-prev-oolaa {
      left: -10px;
    }

    .slick-next-oolaa {
      right: -10px;
    }

    .stylist-card-portfolio-carousel-item-wrapper {
      background: #f9f9f9 no-repeat center;
      background-size: cover;
      border: 1px solid #cdcfce;
      height: 93px;
      margin: 3px;
      padding: 10px;
      width: 100%;
    }
  }
}
