html, body {
  height: 100%;
}
body {
  // overflow: hidden;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
}
a {
  color: $color-primary;
}
h1, h2, h3, h4, h5, h6 {
  color: $color-primary;
  font-weight: 100;
}

.edc-nav.content {
  height: 100%;
}
.container {
  background: #ffffff;
}