.p {
  padding: 8px !important;
}

.btn {
  border-radius: 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: $color-primary;
  border-color: $color-primary-dark;
}

.btn-rounded {
  border-radius: 18px;
}

.btn-link {
  color: $color-primary;

  &:hover {
    color: $color-primary-dark;
  }
}

.btn-facebook {
  background: #3b5998;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}

.btn-google {
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #4a4a4a;
}

.table-simple {
  .img-circle {
    width: 30px;
  }
}

.line {
  border-bottom: 1px solid #cdcecf;
  display: block;
  margin: 8px 0;
  width: 100%;
}

.photo-hidden {
  filter: grayscale(100%);
}

.color-picker-badge {
  background: #808080;
  border-radius: 2px;
  display: inline-block;
  height: 20px;
  width: 20px;

  &.checked {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
  }

  input {
    display: none;
  }
}
