
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$color-primary: #29b882;
$color-primary-light: #29c58f;
$color-primary-dark: #20885F;
$color-primary-darker: #185F3D;
$color-yellow: #ffb000;

$color-second: #ff485f;
$color-second-dark: #ee425a;
$color-third: #ed6e58;
$color-third-dark: #cf6752;

$red: #ed6e58;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Z-index
$reservation-calendar: 1100;
$header: 1000;
$header-mobile: 0;
$principal-container: 100;
$shopping-cart-button: 200;
$form-filter: 200;
$loader: 100;
