.admin-address,
.admin-services,
.admin-stylists,
.admin-users {
  .widget-user-2 .widget-user-image>img {
    border: 3px solid #ffffff;
    height: 65px;
  }

  .widget-user-username,
  .widget-user-desc {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  }
}

.admin-category {
  .widget-user
  .widget-user-header {
    height: auto;
  }

  .widget-user-username,
  .widget-user-desc {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  }

  .widget-user .box-footer {
    padding-top: 10px;
  }
}


.admin-photobook {
  .photobook {
    overflow: hidden;
    width: 100%;
  }

  .photobook-image-wrapper {
    float: left;
    padding: 6px;
    width: 20%;
  }

  .photobook .btn-image {
    background: transparent;
    border: none;
    height: 100px;
    padding: 6px;
    width: 100%;
  }

  .photobook .btn:active {
    background: rgba(41, 184, 130, 0.4);
  }

  .photobook-image-wrapper .modal-body .img-responsive {
    margin: 0 auto;
  }

  .photobook-image {
    background: #29b882 no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .photobook-options {
    padding: 6px;
  }
}

.admin-reservations {
  .table .form-control {
    display: inline-block;
    width: auto;
  }

  .table [type="text"] {
    width: 60px;
  }
}

.admin-calendar {
  .oolaa-event {
    padding: 2px 4px;
  }
}
